<template>
  <q-table
    ref="tableRef"
    v-model:pagination="pagination"
    :title="$t('label.messages')"
    :rows="data"
    :columns="columns"
    :loading="isLoading"
    :filter="filter"
    class="full-width"
    :rows-per-page-options="defaults.rowsPerPage"
    binary-state-sort
    row-key="id"
    @request="onRequest"
  />
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { defaults } from 'components/default.ts';

const data = ref([]),
  filter = ref(''),
  isLoading = ref(false),
  pagination = ref({}),
  columns = [];

function onRequest(v) {
  console.log(v);
}
</script>
