<template>
  <q-form class="row">
    <InputField
      v-model="c.name"
      :label="$t('label.companyname')"
      class="col-12"
    />
    <InputField
      v-model="c.web"
      :label="$t('label.company_website')"
      class="col-12"
    />
    <SelectField
      v-model="c.sizeValue"
      :options="c.sizeOptions"
      :label="$t('label.number_of_employees')"
      class="col-6 q-pr-sm"
    />
    <IndustryField
      v-model="c.industry"
      :label="$t('label.industry')"
      class="col-6"
    />
    <InputField
      v-model="c.description"
      :label="$t('label.company_description')"
      class="col-12"
    />
    <InputField
      v-model="c.location"
      :label="$t('label.company_location')"
      class="col-12"
    />
  </q-form>
</template>

<script setup lang="ts">
import InputField from 'components/fields/InputField.vue';
import { ref } from 'vue';
import SelectField from 'components/fields/SelectField.vue';
import IndustryField from 'components/fields/IndustryField.vue';

const c = ref({
  name: '',
  web: '',
  description: '',
  industry: '',
  location: '',
  sizeValue: '',
  sizeOptions: ['1-10', '11-50', '51-100'],
});
</script>
