<template>
  <q-form>
    <q-input label="Unternehmensname"></q-input>
    <q-input label="Unternehmensname"></q-input>
    <q-select label="Anzahl Mitarbeiter"></q-select>
    <q-select label="Branche"></q-select>
    <q-input label="Kurzbeschreibung Ihres Unternehmens"></q-input>
    <q-input label="Standort"></q-input>
  </q-form>
</template>

<script setup lang="ts"></script>
