<template>
  <SelectField
    :options="options"
    :option-label="(item) => (item === null ? 'label missing' : item.value)"
    clearable
    :label="
      props.label === '' || props.label === 'career_level.label'
        ? t('label')
        : props.label
    "
    :optional="props.optional"
    class="q-mt-sm"
  />
</template>

<script setup lang="ts">
import SelectField from './SelectField.vue';
import { useI18n } from 'vue-i18n';

const { t } = useI18n({
  inheritLocale: true
});

const props = defineProps({
  optional: {
    required: false,
    type: Boolean,
    default: false
  },
  label: {
    required: false,
    type: String,
    default: ''
  }
});

const options = [
  { key: 'entry', value: 'entry' },
  { key: 'junior', value: 'junior' },
  { key: 'senior', value: 'senior' },
  { key: 'executive', value: 'executive' },
  { key: 'senior_executive', value: 'senior_executive' }
];
</script>

<i18n>
  {
    "en": {
      label: 'Career level',
      entry: 'Entry level',
      junior: 'Junior level',
      senior: 'Senior level',
      executive: 'Executive level',
      senior_executive: 'Senior executive level(CEO, CTO etc.)',
    },
    "de": {
      label: 'Karrierestufe',
      entry: 'Einstiegslevel',
      junior: 'Junior-Position',
      senior: 'Senior-Position',
      executive: 'Executive-Position',
      senior_executive: 'Senior-Executive-Position',
    },
    "fr": {
      label: 'Position',
      entry: 'Débutant',
      junior: 'Junior',
      senior: 'Senior',
      executive: 'Cadre',
      senior_executive: 'Cadre supérieurs (PDG, CTO, etc.)',
    }
  }
  </i18n>
