<template>
  <SelectField
    :options="options"
    clearable
    :label="label"
    :optional="optional"
    class="q-mt-sm"
  />
</template>

<script setup lang="ts">
import SelectField from './SelectField.vue';

defineProps({
  optional: {
    required: false,
    type: Boolean,
    default: false,
  },
  label: {
    required: false,
    type: String,
    default: '',
  },
});

const options = [
  'Administrative/Office',
  'Business Development',
  'Business Intelligence/Data Science',
  'Cleaning/Facilities',
  'Construction',
];
</script>
