<template>
  <div class="col-8 q-mt-lg">
    <div class="input-label">
      {{ title }}
      <Chip />
    </div>
    <q-checkbox v-model="value" label-left="test" size="sm" :label="label" />
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import Chip from './ChipField.vue';

defineProps({
  optional: {
    required: false,
    type: Boolean,
    default: false,
  },
  label: {
    required: false,
    type: String,
    default: '',
  },
  title: {
    required: false,
    type: String,
    default: '',
  },
});

const value = ref(false);
</script>
