<template>
  <q-chip
    size="sm"
    color="grey-13"
    text-color="gray"
    outline
    text-size="sm"
    :label="label"
    dense
  />
</template>

<script setup lang="ts">
defineProps({
  label: {
    required: false,
    type: String,
    default: 'OPTIONAL',
  },
});
</script>
