<template>
  <q-input
    id="location"
    ref="location"
    v-model.trim="locationDisplay"
    stack-label
    :label="props.label"
    class="q-mt-xl"
    name="location"
    outlined
    dense
  />
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useMeta } from 'quasar';

const metaData = {
  // insert google api and set callback=mapsCallback
  script: {
    google: {
      src: `https://maps.googleapis.com/maps/api/js?key=${
        import.meta.env.VITE_GOOGLE_API_KEY
      }&callback=mapsCallback&libraries=places&language=de`,
      id: 'GoogleAPI',
    },
  },
};

window.mapsCallback = function () {
  const autocompleteInput = location.value.getNativeElement();
  googleSearchBox.value = new window.google.maps.places.Autocomplete(
    autocompleteInput,
    {
      fields: ['formatted_address', 'address_components'],
      types: ['(cities)'],
    }
  );
  if (countries.value) {
    googleSearchBox.value.setComponentRestrictions({
      country: countries.value,
    });
  }
  googleSearchBox.value.addListener('place_changed', () => {
    const place = googleSearchBox.value.getPlace();
    locationChanged(place);
  });
};

useMeta(metaData);

const emit = defineEmits(['input']);
const props = defineProps({
  optional: {
    required: false,
    type: Boolean,
    default: false,
  },
  label: {
    required: false,
    type: String,
    default: '',
  },
  country: {
    country: false,
    type: String,
    default: 'de',
  },
});

const googleSearchBox = ref(window.google);
const countries = ref(props.country);
const locationDisplay = ref('');

const locationForm = ref([
  'location',
  'locality',
  'administrative_area_level_1',
  'country',
  'postal_code',
]);

const locationData = ref({
  streetAddress: '',
  addressLocality: '',
  addressRegion: '',
  postalCode: '',
  addressCountry: '',
});

const locationNameFormat = ref({
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name',
});

const location = ref(null);

function locationChanged(place) {
  const addressComponents = place.address_components;
  insertLocatationData(addressComponents);
  locationDisplay.value = place.formatted_address;
  emit('input', locationDisplay.value);
}

function insertLocatationData(loc) {
  for (const component of locationForm.value) {
    switch (component) {
      case 'location':
        locationData.value.streetAddress =
          getLocationComp(loc, 'street_number') +
          ' ' +
          getLocationComp(loc, 'route');
        break;
      case 'locality':
        locationData.value.addressLocality = getLocationComp(loc, component);
        break;
      case 'administrative_area_level_1':
        locationData.value.addressRegion = getLocationComp(loc, component);
        break;
      case 'country':
        locationData.value.addressCountry = getLocationComp(loc, component);
        break;
      case 'postal_code':
        locationData.value.postalCode = getLocationComp(loc, component);
        break;
    }
  }
}

function getLocationComp(place, type) {
  console.log('getLocationComp', place, type);
  for (const component of place) {
    if (component.types[0] === type) {
      return component[locationNameFormat.value.type];
    }
  }
  return '';
}
</script>
