<template>
  <SelectField
    :options="options"
    :option-label="(item) => (item === null ? 'label missing' : item.value)"
    clearable
    :label="props.label"
    :optional="props.optional"
  />
</template>

<script setup lang="ts">
import SelectField from './SelectField.vue';

const props = defineProps({
  optional: {
    required: false,
    type: Boolean,
    default: false
  },
  label: {
    required: false,
    type: String,
    default: ''
  }
});

const options = [
  { key: '1', value: 'contract.fulltime' },
  { key: '2', value: 'contract.fulltime_temporary' },
  { key: '3', value: 'contract.parttime' },
  { key: '4', value: 'contract.parttime_temporary' }
];
</script>

<i18n>
  {
    "de": {
      label: 'Beschäftigungsart',
      fulltime: 'Vollzeit, unbefristet',
      fulltime_temporary: 'Vollzeit, befristet',
      parttime: 'Teilzeit, unbefristet',
      parttime_temporary: 'Teilzeit, befristet',
    },
    "en": {
      label: 'Beschäftigungsart',
      fulltime: 'Full-time, permanent',
      fulltime_temporary: 'Full-time, temporary',
      parttime: 'Part-time, permanent',
      parttime_temporary: 'Part-time, temporary',
    },
    "fr": {
      label: 'Beschäftigungsart',
      fulltime: 'Temps plain, durée indéterminée',
      fulltime_temporary: 'Temps plain, durée déterminée',
      parttime: 'Temps partiel, durée indéterminée',
      parttime_temporary: 'Temps partiel, durée déterminée',
    }
  }
  </i18n>
