<template>
  <SelectField
    :options="options"
    :option-label="(item) => (item === null ? 'label missing' : item.value)"
    clearable
    class="q-mt-sm"
    :label="props.label"
    :optional="props.optional"
    use-input
  />
</template>

<script setup lang="ts">
import SelectField from './SelectField.vue';
import { onMounted, ref } from 'vue';
import countries from 'i18n-iso-countries';
import DE from 'i18n-iso-countries/langs/de.json';

const props = defineProps({
  optional: {
    required: false,
    type: Boolean,
    default: false,
  },
  label: {
    required: false,
    type: String,
    default: '',
  },
});

const options = ref([]);

onMounted(() => {
  countries.registerLocale(DE);

  const german = countries.getName('DE', 'de');
  const french = countries.getName('FR', 'de');
  const english = countries.getName('GB', 'de');
  const spanish = countries.getName('ES', 'de');
  const italic = countries.getName('IT', 'de');

  console.log(countries, german);

  options.value = [
    { key: 'de', value: german },
    { key: 'fr', value: french },
    { key: 'en', value: english },
    { key: 'it', value: italic },
    { key: 'es', value: spanish },
  ];
});
</script>
