<template>
  <q-input
    v-model="value"
    class="q-mt-xl"
    clearable
    stack-label
    outlined
    dense
    mask="date"
    :rules="['date']"
  >
    <template #append>
      <q-icon name="event" class="cursor-pointer">
        <q-popup-proxy cover transition-show="scale" transition-hide="scale">
          <q-date
            v-model="value"
            @update:model-value="(v) => emit('update:text', v)"
          >
            <div class="row items-center justify-end">
              <q-btn
                v-close-popup
                :label="$t('btn.close')"
                color="primary"
                flat
              />
            </div>
          </q-date>
        </q-popup-proxy>
      </q-icon>
    </template>
  </q-input>
</template>

<script setup lang="ts">
import { ref } from 'vue';
const today = new Date();
const value = ref(today);
const emit = defineEmits(['update:text']);
</script>
