<template>
  <q-select
    v-model="darkmode"
    :options="options"
    :label="$t('darkmode.label')"
    outlined
    dense
    emit-value
    map-options
    options-dense
    style="min-width: 150px"
    class="q-mt-xl"
  >
    <template #option="scope">
      <q-item v-bind="scope.itemProps">
        <q-item-section avatar>
          <q-icon :name="'img:display/' + scope.opt.icon" />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ scope.opt.label }}</q-item-label>
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>

<script setup lang="ts">
import { useSettingsStore } from 'stores/settings';
import { useQuasar } from 'quasar';
import { ref, watch } from 'vue';

const $q = useQuasar();

const settings = useSettingsStore();
const options = [
  { label: 'Helles Design', value: false, icon: 'light.png' },
  { label: 'Dunkles Design', value: true, icon: 'dark.png' },
  { label: 'Gerätezustand', value: 'auto', icon: 'device_default.png' },
];
const darkmode = ref(settings.darkmode);
$q.dark.set(darkmode.value === 'auto' ? 'auto' : darkmode.value ? true : false);

function setDarkmode(value: boolean | string) {
  settings.darkmode = value;
  $q.dark.set(
    darkmode.value === 'auto' ? 'auto' : darkmode.value ? true : false
  );
}

watch(darkmode, async (newValue) => {
  setDarkmode(newValue);
});
</script>
