<template>
  <q-field
    v-model="value"
    class="row q-mt-xl"
    borderless
    stack-label
    label-slot
  >
    <template #label>
      <div class="row q-ml-md">
        {{ label }} <chip v-if="optional" size="md" />
      </div>
    </template>
    <q-editor
      v-model="value"
      :placeholder="placeholder"
      height="8rem"
      class="full-width"
      @update:model-value="(value) => emit('update:text', value)"
    />
  </q-field>
</template>

<script setup lang="ts">
import Chip from './ChipField.vue';
import { ref } from 'vue';

defineProps({
  placeholder: {
    type: String,
    default: ''
  },
  label: {
    type: String,
    default: ''
  },
  optional: {
    type: Boolean,
    required: false,
    default: false
  }
});

const value = ref('');
const emit = defineEmits(['update:text']);
</script>

<style scoped>
.q-field--auto-height.q-field--labeled .q-field__control-container {
  padding-top: 0px;
}

.q-field__inner .q-field__label {
  top: -10px;
  left: -12px;
  padding-bottom: 15px;
  font-size: 1.5em;
}
</style>
