<template>
  <SelectField
    :options="options"
    :option-label="(item) => (item === null ? 'label missing' : item.value)"
    clearable
    :label="
      props.label === '' || props.label === 'education.label'
        ? t('label')
        : props.label
    "
    :optional="props.optional"
    class="q-mt-sm"
  />
</template>

<script setup lang="ts">
import SelectField from './SelectField.vue';

import { useI18n } from 'vue-i18n';

const { t } = useI18n({
  inheritLocale: true
});

const props = defineProps({
  optional: {
    required: false,
    type: Boolean,
    default: false
  },
  label: {
    required: false,
    type: String,
    default: ''
  }
});

const options = [
  { key: '1', value: 'school' },
  { key: '2', value: 'completed_education' },
  { key: '3', value: 'bachelor_student' },
  { key: '4', value: 'bachelor_completed' },
  { key: '5', value: 'master_student' },
  { key: '6', value: 'master_completed' },
  { key: '7', value: 'phd_completed' }
];
</script>

<i18n>
{
  "en": {
    "label": 'Minimum education',
    "school": 'High School',
    "completed_education": 'Vocational training completed',
    "bachelor_student": 'Undergraduated student',
    "bachelor_completed": 'Bachelor completed',
    "master_student": 'Graduated Student',
    "master_completed": 'Master completed',
    "phd_completed": 'PhD degree completed',
  },
  "de": {
    "label": "Berufsausbildung",
    "school": "Schüler",
    "completed_education": "abgeschlossene Ausbildung",
    "bachelor_student": "Bachelor-Student",
    "bachelor_completed": "Bachelor abgeschlossen",
    "master_student": "Master-Student",
    "master_completed": "Master abgeschlossen",
    "phd_completed": "Dr. / PhD",
  },
  "fr": {
    "label": 'Formation',
    "school": "Diplôme d'études secondaires",
    "completed_education": 'Formation professionnelle achevée',
    "bachelor_student": 'Étudiant de premier cycle',
    "bachelor_completed": 'Bachelor (Bac +3)',
    "master_student": 'Étudiant en Master',
    "master_completed": 'Master (Bac +5)',
    "phd_completed": 'Doctorat (Bac +8)'
  }
}
</i18n>
