<template>
  <SelectField
    :options="options"
    :option-label="(item) => (item === null ? 'label missing' : item.value)"
    clearable
    :label="
      props.label === '' || props.label === 'employment_type.label'
        ? t('label')
        : props.label
    "
    :optional="props.optional"
    class="q-mt-sm"
    @input="emit((e) => e.target.value)"
  />
</template>

<script setup lang="ts">
import SelectField from './SelectField.vue';
import { useI18n } from 'vue-i18n';

const { t } = useI18n({
  inheritLocale: true
});

const props = defineProps({
  optional: {
    required: false,
    type: Boolean,
    default: false
  },
  label: {
    required: false,
    type: String,
    default: ''
  }
});

const emit = defineEmits(['update']);

const options = [
  { key: 'employee', value: 'employee' },
  { key: 'freelance', value: 'freelance' },
  { key: 'contact', value: 'contract' },
  { key: 'trainee', value: 'trainee' },
  { key: 'internship', value: 'internship' },
  { key: 'apprenticeship', value: 'apprenticeship' },
  { key: 'student', value: 'student' },
  { key: 'side_job', value: 'side_job' }
];
</script>

<i18n>
  {
    "de": {
      label: 'Anstellungsart',
      employee: 'Angestellter',
      freelance: 'Freie Mitarbeit',
      contract: 'Befristet',
      trainee: 'Traineeship',
      internship: 'Praktikum',
      apprenticeship: 'Lehrstelle',
      student: 'Werkstudent',
      side_job: 'Nebenjob',
    },
    "en": {
      label: 'Type of employment',
      employee: 'Employee',
      freelance: 'Freelancer',
      contract: 'Contact',
      trainee: 'Traineeship',
      internship: 'Internship',
      apprenticeship: 'Apprenticeship',
      student: 'Student',
      side_job: 'Side job',
    },
    "fr": {
      label: 'Type de contrat',
      employee: 'CDI',
      freelance: 'Freelance',
      contract: 'CDD',
      trainee: 'Stage professionnel',
      internship: 'Stage',
      apprenticeship: 'Apprentissage',
      student: 'Job étudiant',
      side_job: 'Activité complémentaire',
    }
  }
  </i18n>
