<template>
  <SelectField
    :options="options"
    :option-label="(item) => (item === null ? 'label missing' : item.value)"
    clearable
    :label="props.label"
    :optional="props.optional"
    class="q-mt-sm"
    @input="emit((e) => e.taret.value)"
  />
</template>

<script setup lang="ts">
import SelectField from './SelectField.vue';
import { Quasar } from 'quasar';
import { onMounted, computed } from 'vue';
import locales from '@cospired/i18n-iso-languages';
import EN from '@cospired/i18n-iso-languages/langs/en.json';
import FR from '@cospired/i18n-iso-languages/langs/fr.json';
import IT from '@cospired/i18n-iso-languages/langs/it.json';
import ES from '@cospired/i18n-iso-languages/langs/es.json';
import DE from '@cospired/i18n-iso-languages/langs/de.json';

const locale = Quasar.lang.getLocale();
const props = defineProps({
  optional: {
    required: false,
    type: Boolean,
    default: false,
  },
  label: {
    required: false,
    type: String,
    default: '',
  },
  languages: {
    require: false,
    type: Array,
    default: () => ['de', 'en', 'fr'],
  },
  default: {
    require: false,
    type: String,
    default: '',
  },
});

// const options = ref([]);

const emit = defineEmits(['update']);

const options = computed(() => {
  let selected = [];
  props.languages.forEach((language) => {
    selected.push({
      key: language,
      value: locales.getName(language, props.default || locale.split('-')[0]),
    });
  });
  return selected;
});
onMounted(() => {
  locales.registerLocale(DE);
  locales.registerLocale(EN);
  locales.registerLocale(FR);
  locales.registerLocale(IT);
  locales.registerLocale(ES);
});
</script>
