<template>
  <div class="row">
    <div class="col-12 flex justify-center">
      <div class="h6-heading gray-text">
        {{ $t(title) }}
      </div>
    </div>
    <div class="col-12 flex justify-center">
      <div class="h5-heading dark-gray-text">
        {{ $t(subtitle) }}
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
defineProps({
  title: {
    type: String,
    required: false,
    default: '',
  },
  subtitle: {
    type: String,
    required: false,
    default: '',
  },
});
</script>
