<template>
  <div>
    <div>
      {{ $t('salary.label') }}
      <chip></chip>
    </div>
    <div v-if="salary_single" class="q-mt-sm">
      <input
        v-model="salary"
        type="text"
        class="custom-input"
        :placeholder="$t('salary.enter_salary')"
      />
      <select v-model="s.currency" class="custom-select">
        <option v-for="(v, index) in currencies" :key="index">
          {{ v }}
        </option>
      </select>
      <select
        id="durationsDropdown"
        v-model="s.intervall"
        class="select-duration"
      >
        <option v-for="(v, index) in intervalls" :key="index" :value="v.key">
          {{ $t(v.value) }}
        </option>
      </select>
    </div>
    <div v-else class="q-mt-sm">
      <div class="row">
        <div class="col-4">
          <input
            v-model="s.min"
            type="text"
            class="custom-input"
            placeholder="Minimum "
          />
          <select v-model="s.currency" class="custom-select">
            <option v-for="(v, index) in currencies" :key="index">
              {{ v }}
            </option>
          </select>
        </div>
        <div class="col-1 flex justify-center items-center">
          <span class="gray-text">{{ $t('salary.to') }}</span>
        </div>
        <div class="col-4">
          <input
            v-model="s.max"
            type="text"
            class="custom-input"
            placeholder="Maximum"
          />
          <select v-model="s.currency" class="custom-select">
            <option v-for="(v, index) in currencies" :key="index">
              {{ v }}
            </option>
          </select>
        </div>
        <div class="col-1 flex justify-start items-center">
          <select v-model="s.intervall" class="select-duration">
            <option
              v-for="(dur, index) in intervalls"
              :key="index"
              :value="dur.key"
            >
              {{ $t(dur.value) }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-12 q-mt-sm">
      <q-checkbox
        v-model="s.visible"
        size="xs"
        :label="$t('salary.visibility')"
      />
    </div>
    <div class="col-4 q-mt-sm">
      <div
        class="cursor-pointer text-primary underline"
        @click="salary_single = !salary_single"
      >
        {{ salary_single ? $t('salary.range') : $t('salary.single_value') }}
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import Chip from './ChipField.vue';
import { ref } from 'vue';

const salary_single = ref(true);
const salary = ref('');

const s = ref({
  min: '',
  max: '',
  currency: 'EUR',
  intervall: 'year',
  visible: true,
});

const currencies = ['CHF', 'EUR', 'GBP', 'USD'];
const intervalls = [
  { key: 'hour', value: 'salary.hour' },
  { key: 'day', value: 'salary.day' },
  { key: 'week', value: 'salary.week' },
  { key: 'month', value: 'salary.month' },
  { key: 'year', value: 'salary.year' },
];
</script>
