<template>
  <q-select :label="label" stack-label outlined dense class="q-mt-xl">
    <template #label>
      {{ label }} <chip v-if="optional" size="md" />
    </template>
  </q-select>
</template>

<script setup lang="ts">
import Chip from './ChipField.vue';

defineProps({
  optional: {
    required: false,
    type: Boolean,
    default: false,
  },
  label: {
    required: false,
    type: String,
    default: '',
  },
});
</script>
