<template>
  <SelectField
    :options="experiences"
    :option-label="(item) => (item === null ? 'label missing' : item.value)"
    clearable
    :label="
      props.label === '' || props.label === 'experiences.label'
        ? t('label')
        : props.label
    "
    :optional="props.optional"
    class="q-mt-sm"
  />
</template>

<script setup lang="ts">
import SelectField from './SelectField.vue';
import { useI18n } from 'vue-i18n';

const { t } = useI18n({
  inheritLocale: true
});

const props = defineProps({
  optional: {
    required: false,
    type: Boolean,
    default: false
  },
  label: {
    required: false,
    type: String,
    default: ''
  }
});

const experiences = [
  { key: '1', value: 'less_than_1_year' },
  { key: '2', value: 'one_to_three_years' },
  { key: '3', value: 'three_to_five_years' },
  { key: '4', value: 'five_to_seven_years' },
  { key: '5', value: 'more_than_seven_years' }
];
</script>

<i18n>
{
  "de": {
    "label": 'Berufserfahrung',
    "less_than_1_year": 'Weniger als 1 Jahr',
    "one_to_three_years": '1-3 Jahre',
    "three_to_five_years": '3-5 Jahre',
    "five_to_seven_years": '5-7 Jahre',
    "more_than_seven_years": '> 7 Jahre',
  },
  "en": {
    "label": 'Work experiences',
    "less_than_1_year": 'Less than 1 year',
    "one_to_three_years": '1-3 years',
    "three_to_five_years": '3-5 years',
    "five_to_seven_years": '5-7 years',
    "more_than_seven_years": '> 7 years',
  },
  "fr": {
    "label": 'Expérience professionnelle',
    "less_than_1_year": "Moins d'un an",
    "one_to_three_years": '1-3 ans',
    "three_to_five_years": '3-5 ans',
    "five_to_seven_years": '5-7 ans',
    "more_than_seven_years": '> 7 ans',
  }
}
</i18n>
