<template>
  <q-form
    :autofocus="true"
    autocorrect="off"
    autocapitalize="off"
    autocomplete="off"
    spellcheck="false"
  >
    <div class="row">
      <page-title
        :title="$t('job.page_title')"
        :subtitle="$t('job.page_subtitle')"
        class="col-8 q-pr-md"
      />
      <InputField
        v-model="data.title"
        :placeholder="$t('job.title_placeholder')"
        :label="$t('job.title_label')"
        :rule="[(val) => !!val || 'Field is required']"
        class="col-8 q-pr-md"
      />
      <EditorField
        v-model="data.intro"
        :label="$t('job.intro_label')"
        :placeholder="$t('job.intro_placeholder')"
        class="col-8 q-pr-md"
        @update:text="(value) => (data.intro = value)"
      />
      <EditorField
        v-model="data.tasks"
        :label="$t('job.tasks_label')"
        :placeholder="$t('job.tasks_placeholder')"
        :optional="true"
        class="col-8 q-pr-md"
        @update:text="(value) => (data.tasks = value)"
      />
      <EditorField
        v-model="data.requirements"
        :label="$t('job.requirements_label')"
        :placeholder="$t('job.requirements_placeholder')"
        :optional="true"
        class="col-8 q-pr-md"
        @update:text="(value) => (data.requirements = value)"
      />
      <EditorField
        v-model="data.benefits"
        :label="$t('job.benefits_label')"
        :placeholder="$t('job.benefits_placeholder')"
        :optional="true"
        class="col-8 q-pr-md"
        @update:text="(value) => (data.benefits = value)"
      />
      <EditorField
        v-model="data.outro"
        :label="$t('job.outro_label')"
        :placeholder="$t('job.outro_placeholder')"
        :optional="true"
        class="col-8 q-pr-md"
        @update:text="(value) => (data.outro = value)"
      />
    </div>

    <div class="row">
      <q-separator color="transparent" class="col-8 q-pt-xl" />
      <SalaryField
        v-model="data.salary"
        class="col-8 q-pr-md"
        :label="$t('salary.label')"
      />
      <field-info
        class="col-4"
        :label="$t('salary.section_hint')"
        :text="$t('salary.section_desc')"
      />
    </div>

    <div class="row">
      <div class="col-8">
        <div class="row">
          <EducationSelect
            v-model="data.education"
            class="col-6 q-pr-sm"
            :label="$t('education.label')"
            :optional="true"
          />
          <WorkExperienceSelect
            v-model="data.experience"
            class="col-6 q-pr-sm"
            :label="$t('experiences.label')"
            :optional="true"
          />
          <ContractSelect
            v-model="data.contract"
            class="col-6 q-pr-sm"
            :label="$t('contract.label')"
            :optional="true"
          />
          <CareerLevelSelect
            v-model="data.career_level"
            class="col-6 q-pr-sm"
            :label="$t('career_level.label')"
            :optional="true"
          />
          <CategorySelect
            v-model="data.category"
            class="col-6 q-pr-sm"
            :label="$t('label.category')"
            :optional="true"
          />
          <LanguageSelect
            v-model="data.application_lang"
            :languages="['de', 'it', 'en', 'fr', 'es']"
            class="col-6 q-pr-sm"
            :label="$t('application_form.language')"
            :optional="true"
          />
        </div>
      </div>
    </div>

    <div class="row q-mt-lg">
      <div class="col-8">
        <hr style="border-top: 1px solid #dedede" />
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="row">
          <EmploymentTypeSelect
            v-model="data.employment_type"
            :label="$t('employment_type.label')"
            class="col-6 q-pr-sm"
          />
          <DeadlineInput
            v-model="data.deadline"
            :label="$t('job.deadline')"
            class="col-6 q-pr-sm"
            @update:text="(value) => (data.deadline = value)"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="row">
          <CountrySelect
            v-model="data.country"
            :label="$t('location.country')"
            class="col-6 q-pr-sm"
          />
          <CityInput
            :label="$t('location.city')"
            class="col-6 q-pr-sm"
            @change="data.city"
          />
          <CheckboxField
            v-model="data.remote"
            :title="$t('location.homeoffice')"
            class="col-8 q-pr-sm"
            :optional="true"
            :label="$t('location.homeoffice_description')"
          />
        </div>
      </div>
      <div class="col-4">
        <field-info
          :label="$t('location.section_hint')"
          :text="$t('location.section_desc')"
        />
      </div>
    </div>

    <div class="row q-mt-lg">
      <div class="col-8">
        <div class="row flex justify-center">
          <div class="col-6">
            <q-btn
              color="primary"
              class="full-width"
              :label="$t('job.submit')"
              @click="save"
            />
          </div>
        </div>
      </div>
    </div>
  </q-form>
</template>

<script setup lang="ts">
import { PropType, ref, onMounted, watch } from 'vue';
import { useJobStore } from 'stores/job';
import { Job } from 'components/models';
import PageTitle from 'components/fields/PageTitle.vue';
import InputField from 'components/fields/InputField.vue';
import EditorField from 'components/fields/EditorField.vue';
import SalaryField from 'components/fields/SalaryField.vue';
import ContractSelect from 'components/fields/ContractSelect.vue';
import LanguageSelect from 'components/fields/LanguageSelect.vue';
import DeadlineInput from 'components/fields/DeadlineInput.vue';
import EducationSelect from 'components/fields/EducationSelect.vue';
import EmploymentTypeSelect from 'components/fields/EmploymentTypeSelect.vue';
import CareerLevelSelect from 'components/fields/CareerLevelSelect.vue';
import CheckboxField from 'components/fields/CheckboxField.vue';
import CategorySelect from 'components/fields/CategorySelect.vue';
import CityInput from 'components/fields/CityInput.vue';
import CountrySelect from 'components/fields/CountrySelect.vue';
import WorkExperienceSelect from 'components/fields/WorkExperienceSelect.vue';
import FieldInfo from 'components/jobs/FieldInfo.vue';
import { useQuasar } from 'quasar';

const props = defineProps({
  job: {
    type: Object as PropType<Job>,
    default: null
  }
});

const j = useJobStore(),
  $q = useQuasar(),
  data = ref({});

watch(props, (currentValue) => {
  if (currentValue.job?.id) {
    data.value = {
      id: currentValue.job.id,
      ...currentValue.job.attributes
    };
  } else {
    data.value = {
      ...currentValue.job.attributes
    };
  }
});

onMounted(() => {
  if (props.job?.id) {
    data.value = {
      id: props.job.id,
      ...props.job.attributes
    };
  } else {
    data.value = {};
  }
});

function save() {
  j.save(data.value)
    .then((r) => {
      $q.notify({
        type: 'positive',
        message: r
      });

      console.log('MESSAGE', r);
    })
    .catch((e) => {
      console.log(e);
    });
}
</script>
