<template>
  <div class="container question-container-box q-mt-sm">
    <div class="row">
      <div class="col-11">
        <span class="h6-heading dark-gray-text">Other Documents</span>
      </div>
      <div class="col-1 flex justify-end">
        <q-icon
          name="clear"
          class="gray-text h6-heading cursor-pointer"
          @click="remove"
        />
      </div>
      <div class="col-12">
        <span class="h7-heading gray-text">Request additional documents</span>
      </div>
    </div>
    <div class="row q-mt-lg">
      <div class="col-12">
        <div class="row">
          <div class="col-2 flex items-center">
            <div style="color: #1a1a1a" class="h7-heading">Please upload</div>
          </div>
          <div class="col-6">
            <q-select
              v-model="document"
              :options="otherDocuments"
              class="q-mt-sm"
              dense
              outlined
              @update:model-value="docValueUpdated"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'OtherDocument',
  props: {
    otherDocuments: {
      type: Array,
      required: true,
    },
    index: {
      type: Number,
      required: true,
    },
  },
  emits: ['remove', 'selected'],
  data() {
    return {
      document: null,
      documents: [
        'Certificate of employment',
        'Portfolio',
        'Certificate',
        'Diploma',
      ],
    };
  },
  mounted() {
    this.document = this.otherDocuments[0];
  },
  methods: {
    remove() {
      this.$emit('remove', this.index);
    },
    docValueUpdated(value) {
      this.$emit('selected', {
        old: this.document,
        new: value,
        index: this.index,
      });
    },
  },
};
</script>

<style scoped></style>
