<template>
  <div class="question-container-box" style="height: 100%">
    <div class="row">
      <div class="col-11">
        <span class="h6-heading dark-gray-text">Aktueller Wohnort</span>
      </div>
      <div class="col-1 flex justify-end">
        <q-icon
          name="clear"
          class="gray-text h6-heading cursor-pointer"
          @click="remove"
        />
      </div>
      <div class="col-12">
        <span class="h7-heading gray-text"
          >Fragen Sie nach dem aktuellen Wohnort des Kandidaten</span
        >
      </div>
    </div>
    <div class="row q-mt-lg">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <div class="inline-block">Wohnen Sie derzeit in&nbsp;</div>
            <div class="inline-block">
              <q-input v-model="input" outlined dense class="q-mt-sm" />
            </div>
            <div class="inline-block">&nbsp;?</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CurrentResidence',
  emits: ['remove'],
  data() {
    return {
      input: null,
    };
  },
  methods: {
    remove() {
      this.$emit('remove', 'current_residence');
    },
  },
};
</script>

<style scoped></style>
