<template>
  <div class="container">
    <div
      v-for="(q, index) in education_qs"
      :key="index"
      :class="index == 0 ? 'row' : 'row q-mt-sm'"
    >
      <div class="col-12">
        <div class="question-container-box" style="height: 100%">
          <div class="row">
            <div class="col-11">
              <span class="h6-heading dark-gray-text">Ausbildung</span>
            </div>
            <div class="col-1 flex justify-end">
              <q-icon
                name="clear"
                class="gray-text h6-heading cursor-pointer"
                @click="remove(index)"
              />
            </div>
            <div class="col-12">
              <span class="h7-heading gray-text"
                >Fragen Sie nach akademischen Abschlüssen, die für diese Stelle
                relevant sind</span
              >
            </div>
          </div>
          <div class="row q-mt-lg">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <div class="inline-block">Haben Sie einen&nbsp;</div>
                  <div class="inline-block">
                    <q-select
                      v-model="q.input"
                      style="width: 200px"
                      :options="options"
                      class="q-mt-sm"
                      dense
                      outlined
                    />
                  </div>
                  <div class="inline-block">
                    &nbsp;Abschluss im Bereich&nbsp;
                  </div>
                  <div class="inline-block">
                    <q-input
                      v-model="q.input1"
                      outlined
                      dense
                      class="q-mt-sm"
                    />
                  </div>
                  <div class="inline-block">&nbsp;?</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row q-mt-md">
      <div class="col-12 flex justify-center">
        <span class="text-blue h6-heading cursor-pointer" @click="addQuestion"
          >+ Another "Ausbildung" question</span
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'EducationQuestion',
  emits: ['remove'],
  data() {
    return {
      education_qs: [
        {
          input: null,
          input1: null,
        },
      ],
      options: ['Associate', 'Bachelor', 'Master', 'Doktor'],
    };
  },
  methods: {
    addQuestion() {
      this.education_qs.push({
        input: null,
        input1: null,
      });
    },
    remove(index) {
      if (this.education_qs.length == 1 && index == 0) {
        this.$emit('remove', 'education');
      } else {
        this.education_qs.splice(index, 1);
      }
    },
  },
};
</script>

<style scoped></style>
