<template>
  <div class="container question-container-box" style="height: 100%">
    <div class="row">
      <div class="col-11">
        <span class="h6-heading dark-gray-text">Gehaltserwartung</span>
      </div>
      <div class="col-1 flex justify-end">
        <q-icon
          name="clear"
          class="gray-text h6-heading cursor-pointer"
          @click="remove"
        />
      </div>
      <div class="col-12">
        <span class="h7-heading gray-text"
          >Fragen Sie nach dem Gehaltswunsch des Kandidaten</span
        >
      </div>
    </div>
    <div class="row q-mt-lg">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <div class="inline-block">Was ist Ihre &nbsp;</div>
            <div class="inline-block">
              <q-select
                v-model="income"
                style="width: 200px"
                :options="options"
                class="q-mt-sm"
                dense
                outlined
              />
            </div>
            <div class="inline-block">&nbsp;Gehaltserwartung?</div>
          </div>
          <div class="col-12">
            <div class="inline-block">(in &nbsp;</div>
            <div class="inline-block">
              <q-select
                v-model="type"
                style="width: 200px"
                :options="netoOptions"
                class="q-mt-sm"
                dense
                outlined
              />
            </div>
            &nbsp;
            <div class="inline-block">
              <q-select
                v-model="currency"
                style="width: 200px"
                :options="currencies"
                class="q-mt-sm"
                dense
                outlined
              />
            </div>
            &nbsp;)
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ExpectedSalary',
  emits: ['remove'],
  data() {
    return {
      options: [
        'stündliche',
        'tägliche',
        'wöchentliche',
        'monatliche',
        'jährliche',
      ],
      income: 'stündliche',
      type: 'netto',
      netoOptions: ['netto', 'brutto'],
      currency: 'CHF',
      currencies: ['CHF', 'EUR', 'GBP', 'USD'],
    };
  },
  methods: {
    remove() {
      this.$emit('remove', 'expected_salary');
    },
  },
};
</script>

<style scoped></style>
