<template>
  <div class="container">
    <div
      v-for="(q, index) in lizenzen_qs"
      :key="index"
      :class="index == 0 ? 'row' : 'row q-mt-sm'"
    >
      <div class="col-12">
        <div class="question-container-box" style="height: 100%">
          <div class="row">
            <div class="col-11">
              <span class="h6-heading dark-gray-text">Lizenzen</span>
            </div>
            <div class="col-1 flex justify-end">
              <q-icon
                name="clear"
                class="gray-text h6-heading cursor-pointer"
                @click="remove(index)"
              />
            </div>
            <div class="col-12">
              <span class="h7-heading gray-text"
                >Fragen Sie nach speziellen Lizenzen, die für diese Arbeit
                benötigt werden</span
              >
            </div>
          </div>
          <div class="row q-mt-lg">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <div class="inline-block">
                    Haben Sie folgende gültige Lizenz:&nbsp;
                  </div>
                  <div class="inline-block">
                    <q-input v-model="q.input" outlined dense class="q-mt-sm" />
                  </div>
                  <div class="inline-block">&nbsp;?</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row q-mt-md">
      <div class="col-12 flex justify-center">
        <span class="text-blue h6-heading cursor-pointer" @click="addQuestion"
          >+ Another "Lizenzen" question</span
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LicenseQuestion',
  emits: ['remove'],
  data() {
    return {
      lizenzen_qs: [
        {
          input: null,
        },
      ],
    };
  },
  methods: {
    addQuestion() {
      this.lizenzen_qs.push({
        input: null,
      });
    },
    remove(index) {
      if (this.lizenzen_qs.length == 1 && index == 0) {
        this.$emit('remove', 'licences');
      } else {
        this.lizenzen_qs.splice(index, 1);
      }
    },
  },
};
</script>

<style scoped></style>
