<template>
  <div class="container">
    <div
      v-for="(q, index) in lang_qs"
      :key="index"
      :class="index === 0 ? 'row' : 'row q-mt-sm'"
    >
      <div class="col-12">
        <div class="question-container-box" style="height: 100%">
          <div class="row">
            <div class="col-11">
              <span class="h6-heading dark-gray-text">Sprachkenntnisse</span>
            </div>
            <div class="col-1 flex justify-end">
              <q-icon
                name="clear"
                class="gray-text h6-heading cursor-pointer"
                @click="remove"
              />
            </div>
            <div class="col-12">
              <span class="h7-heading gray-text"
                >Fragen Sie nach den Sprachkenntnissen des Kandidaten</span
              >
            </div>
          </div>
          <div class="row q-mt-lg">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <div class="inline-block">
                    Was ist Ihr gegenwärtiger Kenntnisstand in&nbsp;
                  </div>
                  <div class="inline-block">
                    <q-select
                      v-model="q.lang"
                      style="width: 200px"
                      :options="languages"
                      class="q-mt-sm"
                      dense
                      outlined
                    />
                  </div>
                  <div class="inline-block">&nbsp;?</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row q-mt-md">
      <div class="col-12 flex justify-center">
        <span class="text-blue h6-heading cursor-pointer" @click="addQuestion"
          >+ Another "Sprachkenntnisse" question</span
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LinguisticProficiency',
  emits: ['remove'],
  data() {
    return {
      lang_qs: [{ lang: null }],
      languages: ['English', 'Germany', 'Arabic', 'Chinese'],
    };
  },
  methods: {
    addQuestion() {
      this.lang_qs.push({
        lang: null,
      });
    },
    remove(index) {
      if (this.lang_qs.length == 1 && index == 0) {
        this.$emit('remove', 'language_skills');
      } else {
        this.lang_qs.splice(index, 1);
      }
    },
  },
};
</script>

<style scoped></style>
