<template>
  <div class="container">
    <div
      v-for="(q, index) in links_qs"
      :key="index"
      :class="index == 0 ? 'row' : 'row q-mt-sm'"
    >
      <div class="col-12">
        <div class="question-container-box" style="height: 100%">
          <div class="row">
            <div class="col-11">
              <span class="h6-heading dark-gray-text">Links</span>
            </div>
            <div class="col-1 flex justify-end">
              <q-icon
                name="clear"
                class="gray-text h6-heading cursor-pointer"
                @click="remove(index)"
              />
            </div>
            <div class="col-12">
              <span class="h7-heading gray-text"
                >Fragen Sie nach den Links zu den Online-Präsenzen der
                Kandidaten</span
              >
            </div>
          </div>
          <div class="row q-mt-lg">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <div class="inline-block">
                    Bitte teilen Sie den Link zu Ihrer&nbsp;
                  </div>
                  <div class="inline-block">
                    <q-select
                      v-model="q.option"
                      style="width: 200px"
                      :options="links"
                      class="q-mt-sm"
                      dense
                      outlined
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row q-mt-md">
      <div class="col-12 flex justify-center">
        <span class="text-blue h6-heading cursor-pointer" @click="addQuestion"
          >+ Another "Links" question</span
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LinksQuestion',
  emits: ['remove'],
  data() {
    return {
      links_qs: [
        {
          option: null,
        },
      ],
      link: null,
      links: [
        'LinkedIn Profil',
        'XING Profil',
        'GitHub Profil',
        'Behance Profile',
        'Dribble Profil',
        'Portfolio',
        'Eigene Webseite',
      ],
    };
  },
  methods: {
    addQuestion() {
      this.links_qs.push({
        option: null,
      });
    },
    remove(index) {
      if (this.links_qs.length == 1 && index == 0) {
        this.$emit('remove', 'links');
      } else {
        this.links_qs.splice(index, 1);
      }
    },
  },
};
</script>

<style scoped></style>
