<template>
  <div class="container question-container-box">
    <div class="row">
      <div class="col-11">
        <span class="h6-heading dark-gray-text">Startdatum</span>
      </div>
      <div class="col-1 flex justify-end">
        <q-icon
          name="clear"
          class="gray-text h6-heading cursor-pointer"
          @click="remove"
        />
      </div>
      <div class="col-12">
        <span class="h7-heading gray-text"
          >Fragen Sie nach dem möglichen Startdatum des Kandidaten</span
        >
      </div>
    </div>
    <div class="row q-mt-lg">
      <div class="col-12">
        <div class="row">
          <div class="col-12">Wann wäre Ihr frühestmögliches Startdatum?</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'StartDate',
  emits: ['remove'],
  methods: {
    remove() {
      this.$emit('remove', 'startdate');
    },
  },
};
</script>

<style scoped></style>
