<template>
  <div class="container question-container-box" style="height: 100%">
    <div class="row">
      <div class="col-11">
        <span class="h6-heading dark-gray-text">Arbeitserlaubnis</span>
      </div>
      <div class="col-1 flex justify-end">
        <q-icon
          name="clear"
          class="gray-text h6-heading cursor-pointer"
          @click="remove"
        />
      </div>
      <div class="col-12">
        <span class="h7-heading gray-text"
          >Fragen Sie, ob der Kandidat in Ihrem Land arbeiten darf</span
        >
      </div>
    </div>
    <div class="row q-mt-lg">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <div class="inline-block">
              Verfügen Sie über eine aktuelle Erlaubnis in&nbsp;
            </div>
            <div class="inline-block">
              <q-select
                v-model="option"
                style="width: 200px"
                :options="countries"
                class="q-mt-sm"
                dense
                outlined
              />
            </div>
            <div class="inline-block">&nbsp;zu arbeiten?</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'WorkPermit',
  emits: ['remove'],
  data() {
    return {
      option: null,
      countries: ['Germany', 'France', 'United Kingdom', 'Italy'],
    };
  },
  methods: {
    remove() {
      this.$emit('remove', 'work_permit');
    },
  },
};
</script>

<style scoped></style>
