<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <q-bar>
        {{
          employee?.id ? 'Einladung bearbeiten' : 'Neuen Mitarbeiter einladen'
        }}
        <q-space />
        <q-btn v-close-popup dense flat icon="close" />
      </q-bar>
      <InviteForm
        :employee="employee"
        @cancel="onDialogCancel"
        @success="onDialogOK"
      />
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { ref, watch, PropType, onMounted } from 'vue';
import InviteForm from 'components/team/InviteForm.vue';
import { Employee } from 'components/models';
import { useDialogPluginComponent } from 'quasar';

const employee = ref<Employee>({});

const props = defineProps({
  employee: {
    type: Object as PropType<Employee>,
    default: null
  }
});

defineEmits([
  // REQUIRED; need to specify some events that your
  // component will emit through useDialogPluginComponent()
  ...useDialogPluginComponent.emits
]);

onMounted(() => {
  employee.value = props.employee;
});

watch(
  () => [props.employee],
  (newValue) => {
    if (newValue) {
      employee.value = props.employee;
    }
  }
);
</script>
