<template>
  <q-form
    :autofocus="true"
    autocorrect="off"
    autocapitalize="off"
    autocomplete="off"
    spellcheck="false"
    @submit="save({ username, email })"
  >
    <q-card class="full-width">
      <q-card-section>
        <q-input
          v-model="username"
          :label="$t('label.username')"
          outlined
          dense
          label-stack
          clearable
          lazy-rules
          :rules="[rules.required]"
        />
      </q-card-section>
      <q-card-section>
        <q-input
          v-model="email"
          type="email"
          :label="$t('btn.email')"
          outlined
          label-stack
          dense
          clearable
          lazy-rules
          :rules="[rules.required, rules.validEmail]"
        />
      </q-card-section>
      <q-card-actions align="right">
        <q-btn no-caps flat label="Abbrechen" @click="emit('cancel', true)" />
        <q-btn
          type="submit"
          color="secondary"
          text-color="primary"
          no-caps
          outlined
          :label="$t('invite_new_user')"
          :loading="loading"
        />
      </q-card-actions>
    </q-card>
  </q-form>
</template>

<script setup lang="ts">
import { ref, PropType } from 'vue';
import rules from '../../lib/validate.js';
import { Employee } from './models';
import { useEmployeeStore } from 'stores/employee';

const props = defineProps({
  employee: {
    type: Object as PropType<Employee>,
    default: null
  }
});

const emit = defineEmits(['success']);

const email = ref(props.employee),
  username = ref(props.employee),
  employee = useEmployeeStore();

function save(data) {
  employee
    .save(data)
    .then((r) => {
      console.log(r);
      emit('success', true);
    })
    .catch((e) => {
      console.log(e);
    });
}
</script>
