<template>
  <q-table
    ref="tableRef"
    v-model:pagination="pagination"
    :title="$t('label.team')"
    :rows="data"
    :columns="columns"
    :loading="isLoading"
    :filter="filter"
    class="full-width"
    :rows-per-page-options="defaults.rowsPerPage"
    binary-state-sort
    row-key="id"
    @request="onRequest"
  >
    <template #body="props">
      <q-tr>
        <q-td key="name">
          {{ props.row.attributes.user?.data?.attributes.firstname }}
          {{ props.row.attributes.user?.data?.attributes.lastname }}
          ({{ props.row.attributes.user?.data?.attributes.username }})
        </q-td>
        <q-td key="email">
          {{ props.row.attributes.user?.data?.attributes.email }}
          <q-tooltip>
            <template #default>
              <pre>{{ props.row }}</pre>
            </template>
          </q-tooltip>
        </q-td>
        <q-td key="invited" align="right">
          {{
            new Date(
              props.row.attributes.user?.data?.attributes.createdAt
            ).toLocaleString()
          }}
        </q-td>
        <q-td key="confirmed">
          {{
            props.row.attributes.user.data?.attributes.confirmed === true
              ? $t('yes')
              : $t('no')
          }}
        </q-td>
        <q-td key="department">
          {{ props.row.attributes.department?.data?.attributes.name }}
        </q-td>
        <q-td key="actions" align="right">
          <q-btn
            size="sm"
            dense
            flat
            icon="edit"
            :disabled="props.row.confirmed === true"
            @click="inviteDialog(props.row)"
          />
          <q-btn
            size="sm"
            dense
            flat
            icon="delete"
            color="red"
            :disabled="props.row.confirmed === true"
            @click="requestConfirmation(props.row)"
          />
        </q-td>
      </q-tr>
    </template>
    <template #top-right>
      <q-input
        v-model="filter.q"
        class="q-mr-sm"
        outlined
        dense
        clearable
        debounce="500"
        placeholder="suchen"
      >
        <template #append>
          <q-icon name="search" />
        </template>
      </q-input>
      <q-btn round icon="add" class="q-ml-sm" @click="inviteDialog" />
    </template>
  </q-table>
</template>

<script setup lang="ts">
import { ref, computed, onMounted } from 'vue';
import { useI18n } from 'vue-i18n';
import ConfirmDeleteDialog from 'components/team/ConfirmDeleteDialog.vue';
import InviteFormDialog from 'components/team/InviteFormDialog.vue';
import { useQuasar } from 'quasar';
import { defaults } from 'components/default.ts';
import { useEmployeeStore } from 'stores/employee';

const $q = useQuasar(),
  e = useEmployeeStore(),
  filter = ref(''),
  data = computed(() => {
    return e.employees.result;
  }),
  isLoading = computed(() => {
    return e.isLoading;
  }),
  pagination = computed({
    get() {
      return e.getPagination;
    },
    set(v) {
      console.log('???', v);
    }
  });

const { t } = useI18n();

const columns = [
  {
    name: 'username',
    align: 'left',
    label: t('label.name'), // Howto we can use $t() here?
    field: 'username',
    sortable: true
  },
  {
    name: 'email',
    align: 'left',
    label: t('btn.email'), // Howto we can use $t() here?
    field: 'email',
    sortable: true
  },
  {
    name: 'invited',
    align: 'right',
    label: t('label.invited_at'),
    field: 'confirmed',
    sortable: true
  },
  {
    name: 'confirmed',
    align: 'left',
    label: t('label.confirmed_at'),
    field: 'token',
    sortable: false
  },
  {
    name: 'department',
    align: 'left',
    label: t('label.department'),
    field: 'department',
    sortable: false
  },
  {
    name: 'actios',
    align: 'right',
    label: t('label.actions'),
    field: 'partyOnly',
    sortable: false
  }
];

onMounted(() => {
  onRequest({ filter: '', pagination: { page: 1, rowsPerPage: 10 } });
});

function onRequest(props) {
  e.fetchEmployees(props).then(() => {
    pagination.value = e.getPagination;
  });
}

function requestConfirmation(v) {
  console.log(v);
  $q.dialog({
    component: ConfirmDeleteDialog,
    // props forwarded to your custom component
    componentProps: {
      text: t('dialog.confirm_delete_user', { u: v.username })
    }
  })
    .onOk(() => {
      e.delete(v.id);
    })
    .onCancel(() => {
      console.log('Cancel');
    })
    .onDismiss(() => {
      console.log('Called on OK or Cancel');
    });
}

function inviteDialog(data) {
  console.log(data);
  $q.dialog({
    component: InviteFormDialog, // can we pass this as variable?

    // props forwarded to your custom component
    componentProps: {
      user: data
    }
  })
    .onOk(() => {
      //d.fetchDocuments({ filter, pagination })
      console.log('OK');
    })
    .onCancel(() => {
      console.log('Cancel');
    })
    .onDismiss(() => {
      console.log('Called on OK or Cancel');
    });
}
</script>
