<template>
  <q-card>
    <q-card-section
      v-if="company.attributes?.logo?.data?.attributes?.url"
      align="center"
    >
      <q-img
        width="200px"
        :src="strapi + company.attributes?.logo?.data?.attributes?.url"
      />
    </q-card-section>

    <q-carousel
      v-if="company.attributes?.header?.data"
      v-model="slide"
      animated
    >
      <q-carousel-slide
        v-for="(e, i) in company.attributes?.header?.data"
        :key="i"
        :autoplay="autoplay"
        :name="'slide' + i"
      >
        <q-img
          fit="contain"
          class="rounded-borders full-height"
          :src="strapi + e.attributes.url"
        />
      </q-carousel-slide>
    </q-carousel>
    <q-card-section>{{ job.attributes?.intro }}</q-card-section>
    <q-card-section align="center">
      <h4>{{ job.attributes?.title }}</h4>
    </q-card-section>
    <q-card-section>{{ job.attributes?.tasks }}</q-card-section>
    <q-card-section>{{ job.attributes?.profile }}</q-card-section>
    <q-card-section>{{ job.attributes?.benefits }}</q-card-section>
    <q-card-section>{{ job.outro }}</q-card-section>
  </q-card>
</template>

<script setup lang="ts">
import { PropType, onBeforeUpdate, ref, computed } from 'vue';
import { useCompanyStore } from 'stores/company';
import { Job } from 'components/models';

const props = defineProps({
  job: {
    type: Object as PropType<Job>,
    default: null
  }
});

const companyStore = useCompanyStore(),
  strapi = import.meta.env.VITE_AUTH_URL,
  slide = ref('slide1'),
  autoplay = ref(true),
  company = computed(() => {
    return companyStore.company;
  });

onBeforeUpdate(() => {
  companyStore
    .fetchCompany(props.job.attributes?.company?.data?.id)
    .finally(() => {
      console.log('loaded');
    });
});
</script>
