<template>
  <q-card>
    <q-card-section>
      <div class="text-bold">{{ label }}</div>
    </q-card-section>

    <q-card-section class="q-pt-none">
      {{ text }}
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: 'FieldInfo',
  props: {
    label: {
      required: true,
      type: String
    },
    text: {
      required: true,
      type: String
    }
  }
};
</script>
