<template>
  <q-table
    ref="tableRef"
    v-model:pagination="pagination"
    :title="$t('jobs')"
    :rows="data"
    :rows-per-page-options="defaults.rowsPerPage"
    :columns="columns"
    :loading="isLoading"
    :filter="filter"
    binary-state-sort
    row-key="id"
    @request="onRequest"
  >
    <template #body="props">
      <q-tr>
        <q-td name="date">
          {{
            new Date(props.row.attributes.createdAt).toLocaleDateString('de-DE')
          }}
          <q-tooltip :delay="1000">
            <template #default>
              <div>
                {{ $t('createdAt') }}: {{ props.row.attributes.createdAt }}
              </div>
              <div>
                {{ $t('updatedAt') }}: {{ props.row.attributes.updatedAt }}
              </div>
            </template>
          </q-tooltip>
        </q-td>
        <q-td name="language">
          <q-btn no-caps flat :label="props.row.attributes.locale"></q-btn>
        </q-td>
        <q-td name="recruiters">
          {{ props.row.attributes.recruiters.data.length }}
        </q-td>
        <q-td name="form">
          {{ props.row.attributes.application_form.data?.id }}
          <q-tooltip>
            <template #default>
              <pre>{{ props.row.attributes.application_form }}</pre>
            </template>
          </q-tooltip>
        </q-td>
        <q-td name="title">
          <q-btn no-caps flat :label="props.row.attributes.title"></q-btn>
        </q-td>
        <q-td name="state">
          {{ props.row.attributes.publishedAt ? $t('published') : $t('draft') }}
        </q-td>
        <q-td name="applications" align="center">
          <q-btn
            no-caps
            round
            flat
            size="sm"
            :label="props.row.attributes.candidates?.data.length"
            :disabled="props.row.attributes.candidates?.data.length < 1"
            :to="'/candidates?job=' + props.row.id"
          >
            <q-tooltip :delay="1000">
              <template #default>
                <pre>{{ props.row.attributes.candidates?.data }}</pre>
              </template>
            </q-tooltip>
          </q-btn>
        </q-td>
        <q-td name="actions" align="right">
          <q-btn size="sm" flat dense icon="edit" :to="'job/' + props.row.id">
            <q-tooltip :delay="1000">edit job</q-tooltip>
          </q-btn>
          <q-btn
            size="sm"
            flat
            dense
            icon="visibility"
            :to="'public/job/' + props.row.id"
          >
            <q-tooltip :delay="1000">view job</q-tooltip>
          </q-btn>
          <q-btn size="sm" flat dense icon="content_copy">
            <q-tooltip :delay="1000">copy job</q-tooltip>
          </q-btn>
          <q-btn size="sm" color="red" flat dense icon="delete">
            <q-tooltip :delay="1000">delete job</q-tooltip>
          </q-btn>
        </q-td>
      </q-tr>
    </template>
    <template #top-right>
      <q-input
        v-model="filter.q"
        class="q-mr-sm"
        outlined
        dense
        clearable
        debounce="500"
        :placeholder="$t('label.search')"
      >
        <template #append>
          <q-icon name="search" />
        </template>
      </q-input>
      <q-btn round icon="add" @click="openDialog" />
    </template>
  </q-table>
</template>

<script setup lang="ts">
import JobFormDialog from 'components/job/JobFormDialog.vue';
import { useQuasar } from 'quasar';
import { ref, onMounted, computed } from 'vue';
import { useJobStore } from 'stores/job';
import { defaults } from 'components/default.ts';
import { useI18n } from 'vue-i18n';

const j = useJobStore(),
  $q = useQuasar(),
  { t } = useI18n(),
  filter = ref(defaults.filterJobs),
  isLoading = computed(() => {
    return j.isLoading;
  }),
  data = computed(() => {
    return j.jobs.result;
  }),
  pagination = computed({
    get() {
      return j.getPagination;
    },
    set(v) {
      console.log('What shall we do with the pagination?', v);
    }
  });

const columns = [
  {
    name: 'date',
    align: 'left',
    label: t('label.date'),
    sortable: true
  },
  {
    name: 'language',
    align: 'left',
    label: t('label.language'),
    sortable: true
  },
  {
    name: 'recruiters',
    align: 'left',
    label: t('label.clerk'),
    sortable: true
  },
  {
    name: 'form',
    align: 'left',
    label: t('label.application_form'),
    sortable: true
  },
  {
    name: 'title',
    align: 'left',
    label: t('label.job'),
    sortable: true
  },
  {
    name: 'updatedAt',
    align: 'left',
    label: t('label.state'),
    sortable: true
  },
  {
    name: 'application',
    align: 'center',
    label: t('label.applications'),
    sortable: false
  },
  {
    name: 'actions',
    align: 'right',
    label: t('label.actions'),
    sortable: true
  }
];

onMounted(() => {
  onRequest({ filter: '', pagination: { ...defaults.pagination } });
});

function onRequest(args) {
  j.fetchJobs({ ...args, status: true }).then(() => {
    pagination.value = j.getPagination;
  });
}

function openDialog() {
  $q.dialog({
    component: JobFormDialog,
    componentProps: {
      job: {}
    }
  })
    .onOk(() => {
      j.fetchJobs({ filter, pagination, status: true }).then(() => {
        pagination.value = j.getPagination;
      });
      console.log('OK');
    })
    .onCancel(() => {
      console.log('Cancel');
    })
    .onDismiss(() => {
      console.log('Called on OK or Cancel');
    });
}
</script>
