<template>
  <div class="dashed-border-box flex justify-center items-center">
    <div class="row">
      <div class="col-12 flex flex justify-center items-center">
        <div class="h6-heading dark-gray-text">
          Your screening questions will appear here
        </div>
      </div>
      <div class="col-12 flex justify-center items-center q-mt-md">
        <div class="h7-heading text-grey-8">
          Add screening questions to easily find your perfect candidates
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'QuestionPlaceholder',
};
</script>

<style scoped></style>
