<template>
  <q-item :dense="props.dense">
    <q-item-section avatar>
      <CandidatePhoto :photo="data.photo" />
    </q-item-section>
    <q-item-section>
      {{ data.firstname }}
      {{ data.lastname }}<br />
      {{ data.phone }}
    </q-item-section>
    <q-item-section v-if="data.reviews" side top>
      <q-item-label caption>
        {{ data.reviews.data?.length ?? 0 }}
        {{ $t('label.ratings') }}
      </q-item-label>
      <q-rating
        v-if="data.reviews"
        color="secondary"
        :model-value="
          average(data.reviews.data?.map((v) => v.attributes.rating))
        "
        :max="average(data.reviews.data?.map((v) => v.attributes.rating))"
        readonly
        icon-half="star_half"
      />
      <q-tooltip
        v-if="data.reviews && data.reviews.data?.length > 0"
        :delay="1000"
      >
        <template #default>
          <q-card dark>
            <q-card-section>
              Rating:
              {{ average(data.reviews.data?.map((v) => v.attributes.rating)) }}
            </q-card-section>

            <q-card-section v-for="(e, i) in data.reviews.data" :key="i">
              <q-item :dense="props.dense">
                <q-item-section avatar>
                  {{ e.attributes.rating }}
                </q-item-section>
                <q-item-section>
                  {{ e.attributes.note }}
                </q-item-section>
              </q-item>
            </q-card-section>
          </q-card>
        </template>
      </q-tooltip>
    </q-item-section>
  </q-item>
</template>

<script setup lang="ts">
import { Candidate } from 'components/models';
import CandidatePhoto from 'components/candidates/CandidatePhoto.vue';
import { PropType, onMounted, onUpdated, ref } from 'vue';

const props = defineProps({
  candidate: {
    type: Object as PropType<Candidate>,
    default: null
  },
  dense: {
    type: Boolean,
    default: false
  }
});

const data = ref({} as PropType<Candidate>);

const average = (arr) => arr.reduce((p, c) => p + c, 0) / arr.length;

onMounted(() => {
  if (props.candidate.attributes) {
    data.value = {
      id: props.candidate.id,
      ...props.candidate.attributes
    };
  } else if (props.candidate) {
    data.value = { ...props.candidate };
  } else {
    data.value = props;
  }
});

onUpdated(() => {
  if (props.candidate.attributes) {
    data.value = {
      id: props.candidate.id,
      ...props.candidate.attributes
    };
  } else if (props.candidate) {
    data.value = { ...props.candidate };
  } else {
    data.value = props;
  }
});
</script>
