<template>
  <q-table
    ref="tableRef"
    v-model:pagination="pagination"
    :title="$t('label.candidates')"
    :rows="data"
    :rows-per-page-options="defaults.rowsPerPage"
    :columns="columns"
    :loading="isLoading"
    :filter="filter"
    binary-state-sort
    row-key="id"
    @request="onRequest"
  >
    <template #body="props">
      <q-tr>
        <q-td name="date">
          {{
            new Date(props.row.attributes.createdAt).toLocaleDateString('de-DE')
          }}
          <q-tooltip :delay="1000">
            <template #default>
              <div>
                {{ $t('createdAt') }}: {{ props.row.attributes.createdAt }}
              </div>
              <div>
                {{ $t('updatedAt') }}: {{ props.row.attributes.updatedAt }}
              </div>
            </template>
          </q-tooltip>
        </q-td>
        <q-td name="title">
          <AddressItem :candidate="props.row" :dense="true" />
        </q-td>
        <q-td name="attachments">
          <CandidateAttachments
            :attachments="props.row.attributes.attachments.data"
          />
        </q-td>
        <q-td name="job" align="center">
          <q-btn
            no-caps
            rounded
            size="sm"
            flat
            :label="props.row.attributes.job.data?.id"
            :to="'public/job/' + props.row.attributes.job.data?.id"
          ></q-btn>
          <q-tooltip>
            <template #default>
              <pre> {{ props.row.attributes.messages }}</pre>
            </template>
          </q-tooltip>
        </q-td>

        <q-td name="state">
          {{ props.row.attributes.status ?? 'new' }}
        </q-td>
        <q-td name="actions" align="right">
          <q-btn
            size="sm"
            flat
            dense
            icon="edit"
            :to="`/candidate/${props.row.id}`"
          ></q-btn>
          <q-btn disabled size="sm" flat dense icon="archive">
            <q-tooltip :delay="1000">{{ $t('archive') }}</q-tooltip>
          </q-btn>
          <q-btn
            disabled
            size="sm"
            color="red"
            flat
            dense
            icon="delete"
          ></q-btn>
        </q-td>
      </q-tr>
    </template>
    <template #top-right>
      <q-select
        v-model="filter.job"
        outlined
        :options="options"
        dense
        class="q-mr-sm"
        stack-label
        :label="$t('label.job')"
      >
      </q-select>
      <q-input
        v-model="filter.q"
        class="q-mr-sm"
        outlined
        dense
        clearable
        debounce="500"
        :placeholder="$t('label.search')"
      >
        <template #append>
          <q-icon name="search" />
        </template>
      </q-input>
      <q-btn round icon="add" @click="openDialog" />
    </template>
  </q-table>
</template>

<script setup lang="ts">
import CandidateFormDialog from 'components/job/JobFormDialog.vue';
import AddressItem from 'components/candidates/AddressItem.vue';
import CandidateAttachments from 'components/candidates/CandidateAttachments.vue';
import { useQuasar } from 'quasar';
import { ref, onMounted, computed } from 'vue';
import { useCandidateStore } from 'stores/candidate';
import { defaults } from 'components/default.ts';
import { useJobStore } from 'stores/job';
import { useI18n } from 'vue-i18n';

const c = useCandidateStore(),
  $q = useQuasar(),
  j = useJobStore(),
  { t } = useI18n(),
  filter = ref(defaults.filterCandidates),
  isLoading = computed(() => {
    return c.isLoading;
  }),
  data = computed(() => {
    return c.candidates.result;
  }),
  pagination = computed({
    get() {
      return c.getPagination;
    },
    set(v) {
      console.log('What shall we do with the pagination?', v);
    }
  }),
  options = computed(() => {
    return Object.entries(j.jobs.result).map(([, prop]) => ({
      value: prop.id,
      label: prop.attributes.title
    }));
  });

const columns = [
  {
    name: 'date',
    align: 'left',
    label: t('label.date_received'),
    sortable: true
  },
  {
    name: 'title',
    align: 'left',
    label: t('label.name'),
    sortable: true
  },
  {
    name: 'attachments',
    align: 'center',
    label: t('label.attachments'),
    sortable: true
  },
  {
    name: 'job',
    align: 'center',
    label: t('label.job'),
    sortable: true
  },
  {
    name: 'status',
    align: 'left',
    label: t('label.state'),
    sortable: true
  },
  {
    name: 'actions',
    align: 'right',
    label: t('label.actions'),
    sortable: true
  }
];

onMounted(() => {
  onRequest({ filter: '', pagination: { ...defaults.pagination } });
});

function onRequest(args) {
  c.fetchCandidates({ ...args, status: true }).then(() => {
    pagination.value = c.getPagination;
  });
}

function openDialog() {
  $q.dialog({
    component: CandidateFormDialog,
    componentProps: {
      candidate: {}
    }
  })
    .onOk(() => {
      c.fetchJobs({ filter, pagination, status: true }).then(() => {
        pagination.value = c.getPagination;
      });
      console.log('OK');
    })
    .onCancel(() => {
      console.log('Cancel');
    })
    .onDismiss(() => {
      console.log('Called on OK or Cancel');
    });
}
</script>
