<template>
  <div>
    <q-avatar v-if="props.photo && props.photo.data" rounded>
      <q-img :src="strapi + props.photo.data.attributes.formats.xsmall?.url" />
    </q-avatar>
    <q-icon v-else size="xl" color="grey" name="person" />
  </div>
</template>

<script setup lang="ts">
import { Photo, Message } from 'components/models';
import { PropType } from 'vue';

const props = defineProps({
  photo: {
    type: Object as PropType<Photo>,
    default: null
  },
  messages: {
    type: Object as PropType<Message>,
    default: null
  }
});

const strapi = import.meta.env.VITE_AUTH_URL;
</script>
