<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card style="width: 1200px; max-width: 80vw">
      <q-bar>
        {{ step === 1 ? $t('create_job') : $t('edit_job') }}
        <q-space />
        <q-btn v-close-popup dense flat icon="close" />
      </q-bar>
      <JobForm
        v-if="step == '1'"
        :job="job"
        @cancel="onCancelClick"
        @success="onOKClick"
      />
      <q-card
        v-if="step == '2'"
        :person-id="person"
        @cancel="onCancelClick"
        @success="onOKClick2"
      >
        STEP 2
      </q-card>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { useDialogPluginComponent } from 'quasar';
import JobForm from 'components/job/JobForm.vue';
import { ref } from 'vue';

const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } =
  useDialogPluginComponent();
const step = ref(1);
const person = ref({});

function onOKClick(r) {
  console.log('oK', r);
  step.value = 2;
}

function onOKClick2() {
  onDialogOK();
}

function onCancelClick() {
  onDialogCancel();
}
</script>
