<template>
  <q-page padding>
    <div class="row">
      <div class="col-8">
        <page-title title="menu.account" subtitle="menu.account_caption" />
      </div>
      <q-card class="col-4">
        <q-card-section> test </q-card-section>
        <q-card-section> test </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import PageTitle from 'components/fields/PageTitle.vue';
</script>
