<template>
  <q-page padding style="background: #fafafa">
    <div class="row">
      <div class="col-9 flex justify-center">
        <div class="h6-heading gray-text">
          {{ $t('application_form.title') }}
        </div>
      </div>
      <div class="col-9 flex justify-center">
        <div class="h5-heading dark-gray-text">
          {{ $t('application_form.subtitle') }}
        </div>
      </div>
    </div>
    <div class="row q-mt-lg">
      <div class="col-12">
        <div>
          <span class="h5-heading dark-gray-text">
            {{ $t('application_form.ask_candidates_for_qualification') }}
            <Chip></Chip>
          </span>
        </div>
      </div>
    </div>
    <div class="row q-mt-sm">
      <div class="col-12">
        <div>
          <span class="h7-heading gray-text">
            {{ $t('application_form.add_screening_questions') }}
          </span>
        </div>
      </div>
    </div>

    <div class="row q-mt-md">
      <div class="col-9">
        <q-chip
          v-for="(item, index) in items"
          :key="index"
          v-model:selected="item.selected"
          clickable
          :outline="item.outline"
          size="17px"
          :color="item.color"
          :text-color="item.textColor"
          icon="add"
          @update:selected="chipSelect(item.selected, index)"
        >
          {{ item.value }}
        </q-chip>
      </div>
    </div>
    <div class="row q-mt-md">
      <div class="col-9">
        <question-placeholder v-if="!questions.length"></question-placeholder>
        <div v-else class="row">
          <div v-if="questions.includes('startdate')" class="col-12 q-mt-sm">
            <start-date @remove="removeQuestion"></start-date>
          </div>
          <div
            v-if="questions.includes('expected_salary')"
            class="col-12 q-mt-sm"
          >
            <expected-salary @remove="removeQuestion"></expected-salary>
          </div>
          <div v-if="questions.includes('links')" class="col-12 q-mt-sm">
            <links @remove="removeQuestion"></links>
          </div>
          <div v-if="questions.includes('tools')" class="col-12 q-mt-sm">
            <tools @remove="removeQuestion"></tools>
          </div>
          <div v-if="questions.includes('work_permit')" class="col-12 q-mt-sm">
            <work-permit @remove="removeQuestion"></work-permit>
          </div>
          <div v-if="questions.includes('licences')" class="col-12 q-mt-sm">
            <license @remove="removeQuestion"></license>
          </div>
          <div
            v-if="questions.includes('language_skills')"
            class="col-12 q-mt-sm"
          >
            <linguistic-proficiency
              @remove="removeQuestion"
            ></linguistic-proficiency>
          </div>
          <div
            v-if="questions.includes('current_residence')"
            class="col-12 q-mt-sm"
          >
            <current-residence @remove="removeQuestion"></current-residence>
          </div>
          <div v-if="questions.includes('education')" class="col-12 q-mt-sm">
            <education @remove="removeQuestion"></education>
          </div>
          <div
            v-if="questions.includes('work_experience')"
            class="col-12 q-mt-sm"
          >
            <work-experience @remove="removeQuestion"></work-experience>
          </div>
        </div>
      </div>
      <div class="col-3">
        <field-info
          label="We recommend a maximum of 2-4 screening questions"
          text="Focus on the most relevant questions to keep candidates motivated throughout the process"
        />
      </div>
    </div>
    <div class="row q-mt-md"></div>
    <div class="row q-mt-lg q-mb-lg">
      <div class="col-9">
        <hr />
      </div>
    </div>
    <div class="row q-mt-lg">
      <div class="col-12">
        <div>
          <span class="h5-heading dark-gray-text">{{
            $t('label.application_documents')
          }}</span>
        </div>
        <div class="col-12">
          <div>
            <span class="h7-heading gray-text">
              {{ $t('label.documents_needed') }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row q-mt-md">
      <div class="col-3">
        <div class="input-label">{{ $t('label.cv') }}</div>
        <q-select
          v-model="cv"
          :options="options"
          class="q-mt-sm"
          dense
          outlined
        />
      </div>
      <div class="col-3 q-pl-sm">
        <div class="input-label">{{ $t('label.cover_letter') }}</div>
        <q-select
          v-model="cv"
          :options="options"
          class="q-mt-sm"
          dense
          outlined
        />
      </div>
      <div class="col-3 q-pl-sm flex items-end">
        <q-chip
          v-model:selected="otherItem.selected"
          clickable
          :outline="otherItem.outline"
          size="17px"
          :color="otherItem.color"
          :text-color="otherItem.textColor"
          icon="add"
          @update:selected="otherItemSelect"
        >
          {{ otherItem.value }}
        </q-chip>
      </div>
    </div>
    <div v-if="addAnotherItem" class="row q-mt-md">
      <div v-for="(doc, index) in other_documents" :key="index" class="col-9">
        <OtherDocument
          :index="index"
          :other-documents="doc"
          @selected="addSelectedDocs"
          @remove="removeOtherDoc"
        >
        </OtherDocument>
      </div>
      <div
        v-if="other_documents.length < 4"
        class="col-9 flex items-center justify-center q-mt-md"
      >
        <span
          class="text-blue h6-heading cursor-pointer"
          @click="addOtherDocuments"
          >+ Add another</span
        >
      </div>
    </div>
    <div class="row q-mt-lg">
      <div class="col-12">
        <span class="h5-heading dark-gray-text"> Other settings</span>
      </div>
      <div class="col-12 q-mt-sm">
        <div>
          <span class="h7-heading gray-text">
            Increase the reach and conversion of your job ad
          </span>
        </div>
      </div>
    </div>
    <div class="row q-mt-lg">
      <div class="col-7 flex items-center">
        <span class="h6-heading dark-gray-text"
          >Enable job sharing
          <q-icon name="error_outline" color="grey">
            <q-tooltip max-width="200px"
              >Increase the reach of your job ad by allowing candidates to
              easily share it with their networks.</q-tooltip
            >
          </q-icon>
        </span>
      </div>
      <div class="col-2 flex justify-end">
        <q-toggle v-model="job_sharing" size="lg" />
      </div>
    </div>
    <div class="row">
      <div class="col-7 flex items-center">
        <span class="h6-heading dark-gray-text"
          >Enable "Apply later"
          <q-icon name="error_outline" color="grey">
            <q-tooltip max-width="200px">
              Convert more candidates by allowing them to request a link to
              return to the job later.
            </q-tooltip>
          </q-icon>
        </span>
      </div>
      <div class="col-2 flex justify-end">
        <q-toggle v-model="apply_later" size="lg" />
      </div>
    </div>
    <div class="row q-mt-lg">
      <div class="col-8">
        <div class="row flex justify-center">
          <div class="col-6">
            <q-btn
              color="primary"
              class="full-width"
              label="Proceed to Workflow"
            />
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import Chip from 'components/fields/ChipField.vue';
import OtherDocument from 'components/categories/OtherDocument.vue';
import QuestionPlaceholder from 'components/jobs/QuestionPlaceholder.vue';
import FieldInfo from 'components/jobs/FieldInfo.vue';
import StartDate from 'components/jobs/questions/StartDate.vue';
import ExpectedSalary from 'components/jobs/questions/ExpectedSalary.vue';
import Links from 'components/jobs/questions/LinksQuestion.vue';
import Tools from 'components/jobs/questions/ToolsQuestion.vue';
import WorkPermit from 'components/jobs/questions/WorkPermit.vue';
import License from 'components/jobs/questions/LicenseQuestion.vue';
import LinguisticProficiency from 'components/jobs/questions/LinguisticProficiency.vue';
import CurrentResidence from 'components/jobs/questions/CurrentResidence.vue';
import Education from 'components/jobs/questions/EducationQuestion.vue';
import WorkExperience from 'components/jobs/questions/WorkExperience.vue';

export default {
  name: 'ApplicationForm',
  components: {
    WorkPermit,
    WorkExperience,
    Education,
    CurrentResidence,
    LinguisticProficiency,
    License,
    Tools,
    Links,
    ExpectedSalary,
    StartDate,
    FieldInfo,
    QuestionPlaceholder,
    OtherDocument,
    Chip
  },

  data() {
    return {
      questions: [],
      addAnotherItem: false,
      other_documents: [],
      otherItem: {
        value: 'Other documents',
        selected: false,
        color: 'black',
        textColor: 'white',
        outline: true
      },
      items: [
        {
          key: 'startdate',
          value: this.$t('label.startdate'),
          selected: false,
          color: 'black',
          textColor: 'white',
          outline: true
        },
        {
          key: 'expected_salary',
          value: this.$t('label.expected_salary'),
          selected: false,
          color: 'black',
          textColor: 'white',
          outline: true
        },
        {
          key: 'links',
          value: this.$t('label.links'),
          selected: false,
          color: 'black',
          textColor: 'white',
          outline: true
        },
        {
          key: 'tools',
          value: this.$t('label.tools'),
          selected: false,
          color: 'black',
          textColor: 'white',
          outline: true
        },
        {
          key: 'work_permit',
          value: this.$t('label.work_permit'),
          selected: false,
          color: 'black',
          textColor: 'white',
          outline: true
        },
        {
          key: 'licences',
          value: 'Lizenzen',
          selected: false,
          color: 'black',
          textColor: 'white',
          outline: true
        },
        {
          key: 'language_skills',
          value: this.$t('label.language_skills'),
          selected: false,
          color: 'black',
          textColor: 'white',
          outline: true
        },
        {
          key: 'current_residence',
          value: this.$t('label.current_residence'),
          selected: false,
          color: 'black',
          textColor: 'white',
          outline: true
        },
        {
          key: 'education',
          value: this.$t('label.education'),
          selected: false,
          color: 'black',
          textColor: 'white',
          outline: true
        },
        {
          key: 'work_experience',
          value: this.$t('label.work_experience'),
          selected: false,
          color: 'black',
          textColor: 'white',
          outline: true
        }
      ],
      cv: this.$t('label.required'),
      coverLetter: this.$t('label.required'),
      options: ['Required', 'Hidden', 'Optional'],
      selected_docs: [],
      job_sharing: true,
      apply_later: true
    };
  },
  computed: {},
  watch: {
    other_documents() {
      console.log('other doc changed...');
    }
  },
  methods: {
    removeQuestion(value) {
      let indexOf = this.questions.indexOf(value);
      this.questions.splice(indexOf, 1);
      let itemIndex = this.items.findIndex((el) => {
        if (el.key == value) {
          return true;
        }
      });
      console.log('index ' + itemIndex);
      this.setChipStyle(false, itemIndex);
    },
    removeOtherDoc(index) {
      this.setOtherDocOptions(this.selected_docs[index], index);
      //this.addOtherDocuments(false)
      this.other_documents.splice(index, 1);
      this.selected_docs.splice(index, 1);
      if (this.other_documents.length < 1) {
        this.otherItemSelect(false);
      }
    },
    addSelectedDocs(doc) {
      let newIndex = this.selected_docs.indexOf(doc.new);
      let oldIndex = this.selected_docs.indexOf(doc.old);
      console.log('index ' + newIndex + ' old index ' + oldIndex);
      if (newIndex < 0 && oldIndex > -1) {
        this.selected_docs.splice(oldIndex, 1, doc.new);
      } else if (newIndex < 0 && oldIndex < 0) {
        this.selected_docs.push(doc.new);
      }
      let newDoc = doc.new;
      this.setOtherDocOptions(newDoc, doc.index);
    },
    setOtherDocOptions(newDoc, indexOfDoc) {
      for (let i = 0; i < this.other_documents.length; i++) {
        let docs = this.other_documents[i];
        console.log('doc ', newDoc);
        console.log('docs ', JSON.stringify(docs));
        if (i !== indexOfDoc) {
          let selectedIndex = docs.indexOf(newDoc);
          console.log('index ', selectedIndex);
          if (selectedIndex > -1) {
            docs.splice(selectedIndex, 1);
          } else {
            docs.push(newDoc);
          }
          this.other_documents[i] = docs;
        }
      }
    },
    otherItemSelect(state) {
      this.otherItem.color = state ? 'primary' : 'black';
      this.otherItem.outline = !state;
      this.addAnotherItem = !this.addAnotherItem;
      if (!this.addAnotherItem) {
        this.other_documents = [];
        this.selected_docs = [];
      } else {
        this.addOtherDocuments();
      }
    },
    setChipStyle(state, index) {
      this.items[index].color = state ? 'primary' : 'black';
      this.items[index].outline = !state;
      this.items[index].selected = state;
    },
    chipSelect(state, index) {
      this.setChipStyle(state, index);
      if (state) {
        this.questions.push(this.items[index].key);
      } else {
        let indexOf = this.questions.indexOf(this.items[index].key);
        this.questions.splice(indexOf, 1);
      }
    },
    addOtherDocuments(pushNew = true) {
      let options = [
        'Certificate of employment',
        'Portfolio',
        'Certificate',
        'Diploma'
      ];
      for (let i = 0; i < this.selected_docs.length; i++) {
        let doc = this.selected_docs[i];
        let index = options.indexOf(doc);
        if (index > -1) {
          options.splice(index, 1);
        }
      }
      this.selected_docs.push(options[0]);
      let newDoc = options[0];
      this.setOtherDocOptions(newDoc, this.other_documents.length);
      if (pushNew) {
        this.other_documents.push(options);
      }
    }
  }
};
</script>
