<template>
  <q-page>
    <q-card>
      <AddressItem :candidate="candidate" />
      <q-card-section>
        <q-select v-model="status" :options="options" outlined label="Status" />
      </q-card-section>
      <q-card-section>
        <pre>{{ candidate }}</pre>
      </q-card-section>
    </q-card>
    <q-card> </q-card>
  </q-page>
</template>

<script setup lang="ts">
import { onMounted, computed, ref } from 'vue';
import { useCandidateStore } from 'stores/candidate';
// import { Candidate } from 'components/models';
import AddressItem from 'components/candidates/AddressItem.vue';
import { useRoute } from 'vue-router';

const route = useRoute(),
  id = parseInt(route.params.id),
  c = useCandidateStore(),
  candidate = computed(() => {
    return c.candidate;
  });

const status = ref(''),
  options = [
    { label: 'Neu', value: 'new' },
    { label: 'eingeladen', value: 'invited' },
    { label: 'abgesagt', value: 'canceled' },
    { label: 'Neu', value: 'new' }
  ];

onMounted(() => {
  c.fetchCandidate(id);
});
</script>
