<template>
  <q-page padding>
    <div class="row">
      <div class="col-8">
        <page-title
          title="menu.careersite"
          subtitle="menu.careersite_caption"
        />
        <q-card>
          <q-tabs
            v-model="tab"
            dense
            class="text-grey"
            active-color="primary"
            indicator-color="primary"
            align="justify"
            narrow-indicator
          >
            <q-tab name="company" :label="$t('company')" />
            <q-tab name="galery" :label="$t('galery')" />
          </q-tabs>

          <q-separator />

          <q-tab-panels v-model="tab" animated>
            <q-tab-panel name="company">
              <div class="text-h6">{{ $t('company') }}</div>
              <CompanyForm />
            </q-tab-panel>

            <q-tab-panel name="galery">
              <div class="text-h6">{{ $t('galery') }}</div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </q-tab-panel>
          </q-tab-panels>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import PageTitle from 'components/fields/PageTitle.vue';
import CompanyForm from 'components/careersite/CompanyForm.vue';
const tab = ref('company');
</script>
