<template>
  <q-page padding>
    <div class="row">
      <div class="col-8">
        <page-title
          title="menu.integrations"
          subtitle="menu.integrations_caption"
        />
      </div>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import PageTitle from 'components/fields/PageTitle.vue';
</script>
