<template>
  <q-page padding>
    <JobForm :job="job" />
  </q-page>
</template>

<script setup lang="ts">
import { onMounted, computed } from 'vue';
import { useJobStore } from 'stores/job';
import JobForm from 'components/job/JobForm.vue';
import { useRoute } from 'vue-router';

const j = useJobStore(),
  route = useRoute(),
  id = parseInt(route.params.id),
  job = computed(() => {
    return j.job;
  });

onMounted(() => {
  j.fetchJob(id);
});
</script>
