<template>
  <q-page padding>
    <div class="row">
      <page-title
        title="menu.workflow"
        subtitle="menu.workflow_caption"
        class="col-8"
      />
      <div class="col-8 q-mr-md">
        <div>
          <span class="h5-heading dark-gray-text">
            {{ $t('menu.messages') }}
          </span>
        </div>
      </div>
      <Form
        :data="applicationReceived"
        :title="$t('mail.application_received')"
        :class="$t('mail.application_received_caption')"
        class="col-8"
      />
      <FieldInfo
        class="col-4"
        :label="$t('mail.help')"
        :text="$t('mail.help_caption')"
      />
    </div>

    <div class="row q-mt-lg">
      <div class="col-8">
        <hr style="border-top: 1px solid #dedede" />
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <Form
          :data="firstReview"
          :title="$t('mail.reject_after_first_review')"
          :subtitle="$t('label.reject_after_first_review_caption')"
        ></Form>
      </div>
    </div>
    <div class="row q-mt-lg">
      <div class="col-8">
        <hr style="border-top: 1px solid #dedede" />
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <Form
          :data="duringProcess"
          :title="$t('mail.reject_during_process')"
          :subtitle="$t('label.reject_during_process')"
        ></Form>
      </div>
    </div>
    <div class="row q-mt-lg">
      <div class="col-8">
        <div class="row flex justify-center">
          <div class="col-6">
            <q-btn
              color="primary"
              class="full-width"
              label="Proceed to Team & Company"
            />
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import Form from 'components/workflow/SubForm.vue';
import FieldInfo from 'components/jobs/FieldInfo.vue';
import PageTitle from 'components/fields/PageTitle.vue';

import { ref } from 'vue';

const applicationReceived = ref({
  heading: 'Application Received',
  subHeading: 'Automated reply sent when candidates apply.',
  toggle: true,
  subject:
    'Wir haben deine Bewerbung für die Position bei [companyName] erhalten',
  content:
    'Hallo [firstName],\n' +
    '\n' +
    'vielen Dank für deine Bewerbung für die Position:\n' +
    '[jobTitle]\n' +
    ' \n' +
    'Derzeit screenen wir alle eingegangenen Unterlagen.\n' +
    'Sollte dein Profil unseren Anforderungen entsprechen, werden wir bzgl. der nächsten Schritte auf dich zukommen.\n' +
    '\n' +
    'Wir bitten dich also um etwas Geduld und werden dich schnellstmöglich wieder kontaktieren!\n' +
    ' \n' +
    'Mit den besten Grüssen\n' +
    '[companyName]',
});

const firstReview = ref({
  heading: 'Disqualified after first review',
  subHeading:
    "This message will be sent the morning after you have checked a candidate's application and marked them as ‘not qualified’.",
  toggle: true,
  subject: 'Deine Bewerbung bei [companyName]',
  content:
    'Hallo [firstName],\n' +
    ' \n' +
    'Vielen Dank für deine Bewerbung für die Position [jobTitle].\n' +
    'Wir haben deine Bewerbung genau geprüft und die Qualifikationen sorgfältig durchgeschaut. Leider können wir aufgrund unseres gesuchten Profils und der Anzahl anderer qualifizierter Bewerbungen zum jetzigen Zeitpunkt nicht mit deiner Bewerbung fortfahren.\n' +
    ' \n' +
    'Wir wünschen dir weiterhin viel Erfolg bei der Suche nach einer neuen Herausforderung!\n' +
    'Mit den besten Grüssen\n' +
    '[companyName]',
});

const duringProcess = ref({
  heading: 'Disqualified during process',
  subHeading:
    'Email automatically sent the morning after the candidate has been marked as ‘disqualified’, during the hiring process (e.g., after second screening/interview/test).',
  toggle: false,
  subject: 'Deine Bewerbung als [jobTitle] bei [companyName]',
  content:
    'Hallo [firstName],\n' +
    '\n' +
    'vielen Dank für deine Bewerbung bei [companyName]. Wir wissen es sehr zu schätzen, dass du dir die Zeit genommen und die Mühe gemacht hast, dich auf die Stelle als [jobTitle] zu bewerben.\n' +
    '\n' +
    'Leider müssen wir dir mitteilen, dass wir deine Bewerbung in der nächsten Bewerbungsphase nicht berücksichtigen können. Bitte verstehe unsere Absage nicht als Abwertung deiner Fähigkeiten oder deines Charakters. Oft sind es die kleinsten Unterschiede, die den Ausschlag für eine Entscheidung geben.\n' +
    '\n' +
    'Wenn du einverstanden bist, würden wir dein Profil jedoch gern in unserem Talentpool behalten, falls sich eine andere Gelegenheit ergibt, die besser zu deinen Fähigkeiten passt. Falls du damit nicht einverstanden sein solltest, lass es uns bitte wissen.\n' +
    '\n' +
    'Wir wünschen dir alles Gute und viel Erfolg bei der Suche!\n' +
    '\n' +
    'Mit den besten Grüssen\n' +
    '\n' +
    '[companyName]',
});
</script>

<style scoped>
.note-box {
  height: 55px;
  width: 100%;
  background: #c5eefa;
  padding: 10px;
  color: #2c2cf8;
  border-radius: 10px;
}
</style>
