<template>
  <q-page padding>
    <page-title title="menu.news" subtitle="menu.news_caption" />
  </q-page>
</template>

<script setup lang="ts">
import PageTitle from 'components/fields/PageTitle.vue';
</script>
