<template>
  <TeamTable :key="refresh" @user-added="forceRerender" />
</template>

<script setup lang="ts">
import { ref } from 'vue';
import TeamTable from 'components/team/TeamTable.vue';
const refresh = ref(0);

const forceRerender = () => {
  refresh.value += 1;
};
</script>
