<template>
  <q-select
    v-model="locale"
    :options="localeOptions"
    :label="$t('label.language')"
    outlined
    dense
    emit-value
    map-options
    options-dense
    style="min-width: 150px"
    class="q-mt-xl"
  >
    <template #option="scope">
      <q-item v-bind="scope.itemProps">
        <q-item-section avatar>
          <q-icon
            :name="'img:flags/' + scope.opt.value.substr(0, 2) + '.svg'"
          />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ scope.opt.label }}</q-item-label>
          <q-item-label caption>{{ $t(scope.opt.label) }}</q-item-label>
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>

<script lang="ts">
import { useAuthStore } from 'stores/auth';
import { useI18n } from 'vue-i18n';

export default {
  name: 'LanguageSwitch',
  setup() {
    const auth = useAuthStore();
    const { locale } = useI18n({ useScope: 'global' });
    return {
      auth,
      locale,
      localeOptions: [
        { value: 'en-US', label: 'Englisch' },
        { value: 'de-DE', label: 'Deutsch' },
        { value: 'fr-FR', label: 'Französisch' },
      ],
    };
  },
};
</script>
