<template>
  <q-list>
    <span v-if="section === 'default'">
      <q-item-label header>{{ $t('menu.default') }}</q-item-label>
      <EssentialLink v-for="link in links" :key="link.title" v-bind="link" />
      <q-separator />
      <q-item-label header>Temporary Links during development</q-item-label>
      <EssentialLink
        v-for="link in tempLinks"
        :key="link.title"
        v-bind="link"
      />
    </span>
    <span v-else>
      <q-item-label header>{{ $t('menu.company_settings') }}</q-item-label>
      <EssentialLink
        v-for="link in companySettingsLinks"
        :key="link.title"
        v-bind="link"
      />
      <q-item-label header>{{ $t('menu.user_settings') }}</q-item-label>
      <EssentialLink
        v-for="link in userSettingsLinks"
        :key="link.title"
        v-bind="link"
      />
    </span>
  </q-list>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import EssentialLink from 'components/EssentialLink.vue';

defineProps({
  section: {
    type: String,
    required: false,
    default: 'default'
  }
});

const defaultLinks = [
  {
    title: 'menu.dashboard',
    caption: 'menu.dashboard_caption',
    icon: 'dashboard',
    link: '/'
  },
  {
    title: 'menu.jobs',
    caption: 'menu.jobs_caption',
    icon: 'newspaper',
    link: '/jobs'
  },
  {
    title: 'menu.candidates',
    caption: 'menu.candidates_caption',
    icon: 'contacts',
    link: '/candidates'
  },
  {
    title: 'menu.news',
    caption: 'menu.news_caption',
    icon: 'chat',
    link: '/news'
  }
];

const tempLinks = [
  {
    title: 'menu.application_forms',
    caption: 'menu.application_forms_caption',
    icon: 'public',
    link: '/public/forms'
  },
  {
    title: 'menu.public_careersite',
    caption: 'menu.public_careersite_caption',
    icon: 'domain',
    link: '/public/company'
  }
];

const companySettingsLinks = [
  {
    title: 'menu.careersite',
    caption: 'menu.careersite_caption',
    icon: 'domain',
    link: '/company'
  },
  {
    title: 'menu.messages',
    caption: 'menu.messages_caption',
    icon: 'mail',
    link: '/messages'
  },
  {
    title: 'menu.team',
    caption: 'menu.team_caption',
    icon: 'group',
    link: '/team'
  },
  {
    title: 'menu.invoice',
    caption: 'menu.invoice_caption',
    icon: 'credit_card',
    link: '/invoice'
  },
  {
    title: 'menu.widget',
    caption: 'menu.widget_caption',
    icon: 'widgets',
    link: '/widget'
  },
  {
    title: 'menu.account',
    caption: 'menu.account_caption',
    icon: 'chat',
    link: '/account'
  },
  {
    title: 'menu.integrations',
    caption: 'menu.integrations_caption',
    icon: 'integration_instructions',
    link: '/integrations'
  }
];

const userSettingsLinks = [
  {
    title: 'menu.profile',
    caption: 'menu.profile_caption',
    icon: 'person',
    link: '/profile'
  },
  {
    title: 'menu.notifications',
    caption: 'menu.notifications_caption',
    icon: 'notifications',
    link: '/notifications'
  },
  {
    title: 'menu.api',
    caption: 'menu.api_caption',
    icon: 'webhook',
    link: '/api'
  }
];

const links = ref(defaultLinks);
</script>
