<template>
  <div>
    <q-item v-close-popup clickable to="/company">
      <q-item-section avatar>
        <q-avatar
          color="secondary"
          size="sm"
          text-color="white"
          icon="domain"
        />
      </q-item-section>
      <q-item-section>{{ $t('menu.careersite') }}</q-item-section>
    </q-item>
    <q-item v-close-popup clickable to="/team">
      <q-item-section avatar>
        <q-avatar
          color="secondary"
          size="sm"
          text-color="white"
          icon="people"
        />
      </q-item-section>
      <q-item-section>{{ $t('menu.team') }}</q-item-section>
    </q-item>
    <q-item clickable>
      <q-item-section avatar>
        <q-avatar color="secondary" size="sm" text-color="white" icon="help" />
      </q-item-section>
      <q-item-section>Hilfe & Support</q-item-section>
    </q-item>
    <q-separator></q-separator>
    <q-item v-close-popup clickable to="/profile">
      <q-item-section avatar>
        <q-avatar
          color="secondary"
          size="sm"
          text-color="white"
          icon="account_circle"
        />
      </q-item-section>
      <q-item-section>{{ $t('menu.profile') }}</q-item-section>
    </q-item>
  </div>
</template>

<script setup lang="ts"></script>
