<template>
  <q-form class="row q-mt-lg">
    <div class="col-10 flex items-center">
      <span class="h5-heading dark-gray-text">{{ title }}</span>
    </div>
    <div class="col-2 flex justify-end">
      <q-toggle v-model="dataRef.toggle" size="lg" />
    </div>
    <div class="col-12 h7-heading gray-text">
      {{ subtitle }}
    </div>
    <InputField
      v-model="dataRef.subject"
      class="col-12"
      :label="$t('label.subject')"
    />

    <InputField
      v-model="dataRef.content"
      class="col-12"
      :label="$t('label.content')"
      type="textarea"
    />
    <div class="col-12 q-mt-sm">
      <div class="h7-heading gray-text">
        {{ $t('mail.placeholders_help') }}
      </div>
    </div>
  </q-form>
</template>

<script setup lang="ts">
import { toRef } from 'vue';
import InputField from 'components/fields/InputField.vue';
const props = defineProps({
  title: {
    type: String,
    default: '',
  },
  data: {
    type: Object,
    required: true,
    default: () => ({
      toggle: false,
      subject: '',
      content: '',
    }),
  },
});

const dataRef = toRef(props, 'data');
</script>
