<template>
  <q-page padding>
    <div class="row">
      <div class="col-8">
        <page-title title="menu.profile" subtitle="menu.profile_caption" />

        <div class="row">
          <input-field
            v-model="store.user.firstname"
            class="col-6 q-pr-md q-mb-md"
            :label="$t('label.firstname')"
          />
          <input-field
            v-model="store.user.lastname"
            class="col-6 q-pr-md"
            :label="$t('label.lastname')"
          />
          <input-field
            v-model="store.user.email"
            class="col-6 q-pr-md q-mb-md"
            :label="$t('btn.email')"
          />
          <input-field
            v-model="store.user.username"
            class="col-6 q-pr-md"
            :label="$t('label.username')"
          />

          <language-switch class="col-6 q-pr-md" />
          <display-mode class="col-6 q-pr-md" />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { useAuthStore } from 'stores/auth';
import LanguageSwitch from 'components/LanguageSwitch.vue';
import DisplayMode from 'components/fields/DisplaySelect.vue';
import PageTitle from 'components/fields/PageTitle.vue';
import InputField from 'components/fields/InputField.vue';

const store = useAuthStore();
</script>
