<template>
  <q-page>
    <JobDetail :job="job" />
  </q-page>
</template>

<script setup lang="ts">
import JobDetail from 'components/job/detail/JobDetail.vue';
import { onMounted, computed } from 'vue';
import { useJobStore } from 'stores/job';

import { useRoute } from 'vue-router';

const route = useRoute(),
  id = parseInt(route.params.id),
  j = useJobStore(),
  job = computed(() => {
    return j.job;
  });

onMounted(() => {
  j.fetchJob(id);
});
</script>
