<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title><q-btn flat to="/">BMS</q-btn></q-toolbar-title>
        <login-strapi :admin="isAdminMode" :show="showDialog" class="q-mr-md" />
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered>
      <menu-left
        :section="
          settingsSections.includes($route.path) ? 'settings' : 'default'
        "
      />
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer elevated>
      <div>Quasar v{{ $q.version }}</div>
    </q-footer>
  </q-layout>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import LoginStrapi from 'components/auth/LoginBtn.vue';
import MenuLeft from 'components/MenuLeft.vue';

export default defineComponent({
  name: 'MainLayout',

  components: {
    MenuLeft,
    LoginStrapi
  },

  setup() {
    const leftDrawerOpen = ref(false);
    return {
      settingsSections: [
        '/company',
        '/team',
        '/profile',
        '/invoice',
        '/account',
        '/widget',
        '/notifications',
        '/messages',
        '/api',
        '/integrations'
      ],
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      }
    };
  },
  computed: {
    isAdminMode() {
      return this.$route.query.adm === '1';
    },
    showDialog() {
      return this.$route.query.dlg === 'login'
        ? 'login'
        : this.$route.query.dlg === 'register'
        ? 'register'
        : '';
    }
  }
});
</script>
