<template>
  <q-dialog v-model="openDialog" persistent>
    <q-card style="width: 400px; max-width: 60vw">
      <q-bar>
        <q-icon name="login" />
        <div>{{ $t('welcome') }}</div>

        <q-space />

        <q-btn v-close-popup dense flat icon="close">
          <q-tooltip>{{ $t('btn.close') }}</q-tooltip>
        </q-btn>
      </q-bar>
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="signin" :label="$t('btn.login')" />
        <q-tab name="signup" :label="$t('btn.register')" :disable="admin" />
      </q-tabs>

      <q-separator />
      <q-tab-panels v-model="tab">
        <LoginTabPanel name="signin" @success="loggedin" />
        <RegisterTabPanel name="signup" @success="openDialog = false" />
      </q-tab-panels>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { ref, watch, onMounted } from 'vue';
import { useAuthStore } from 'stores/auth';
import RegisterTabPanel from 'components/auth/RegisterTabPanel.vue';
import LoginTabPanel from 'components/auth/LoginTabPanel.vue';

const props = defineProps({
  open: {
    type: [Boolean],
    default: false
  },
  admin: {
    type: [Boolean],
    default: false
  }
});

const openDialog = ref(false),
  store = useAuthStore(),
  tab = ref('signin');

onMounted(() => {
  checkUserLogged();
});

watch(
  () => props.open,
  (value) => {
    if (value) {
      openDialog.value = true;
    }
  }
);

function checkUserLogged() {
  const token = store.token;
  if (token != null) {
    store.isLoggedIn = true;
  }
}

function loggedin() {
  checkUserLogged();
  openDialog.value = false;
}
</script>
