<template>
  <q-dialog
    v-model="openForgotPasswordDialog"
    persistent
    transition-show="scale"
    transition-hide="scale"
  >
    <q-card style="width: 400px; height: 325px">
      <q-bar>
        <q-icon name="login" />
        <div>{{ $t('label.reset_password') }}</div>

        <q-space />

        <q-btn v-close-popup dense flat icon="close">
          <q-tooltip>{{ $t('btn.close') }}</q-tooltip>
        </q-btn>
      </q-bar>
      <q-card-section>
        <div class="text-h6">{{ $t('label.forgot_password') }}</div>
      </q-card-section>
      <q-card-section>
        <div>{{ $t('help.forgot_password') }}</div>
      </q-card-section>
      <q-card-section class="q-pt-none">
        <q-input
          v-model="email"
          class="q-pa-md"
          outlined
          :label="$t('btn.email')"
          dense
        />
      </q-card-section>

      <q-card-actions align="right" class="bg-grey-2 text-primary">
        <q-btn
          v-close-popup
          no-caps
          color="primary"
          :label="$t('label.reset_password')"
          @click="forgotPassword"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';
import { useQuasar } from 'quasar';
import { useAuthStore } from 'stores/auth';

const props = defineProps({
  open: {
    type: [Boolean],
    default: false
  }
});

const $q = useQuasar(),
  email = ref(''),
  auth = useAuthStore(),
  openForgotPasswordDialog = ref(false);

watch(
  () => props.open,
  (value) => (openForgotPasswordDialog.value = value)
);

function forgotPassword() {
  auth
    .forgotPassword({ email: email.value })
    .then(() => {
      forgotPasswordSuccess();
    })
    .catch((data) => {
      forgotPasswordFail(data);
    });
}

function forgotPasswordSuccess() {
  $q.notify({
    message: 'Forgot Password! Please check your Mail.',
    color: 'green',
    type: 'positive'
  });
}

function forgotPasswordFail(data) {
  $q.notify({
    message: 'Forgot Password failed. ' + data.error.message,
    color: 'red',
    type: 'negative'
  });
}
</script>
