<template>
  <q-tab-panel name="signin">
    <div class="text-h6">{{ $t('btn.login') }}</div>
    <q-card-section class="q-mb-md">
      <q-input
        v-model="username"
        class="q-pa-md"
        outlined
        :label="props.admin ? $t('btn.email') : $t('label.email_or_username')"
        dense
      />
      <q-input
        v-model="password"
        class="q-pa-md"
        :type="isPwd ? 'password' : 'text'"
        outlined
        :label="$t('label.password')"
        dense
      >
        <template #append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>
    </q-card-section>

    <q-card-actions
      align="between"
      class="relative-position bg-grey-2 absolute-bottom text-primary"
    >
      <q-btn
        no-caps
        flat
        :label="$t('label.forgot_password')"
        @click="openForgetPasswordDialog = true"
      />
      <ForgotPasswordDialog
        :open="openForgetPasswordDialog"
        @hide="openForgetPasswordDialog = false"
      />
      <q-btn no-caps color="primary" :label="$t('btn.login')" @click="login" />
    </q-card-actions>
  </q-tab-panel>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';
import { useAuthStore } from 'stores/auth';
import ForgotPasswordDialog from 'components/auth/ForgotPasswordDialog.vue';
import { useQuasar } from 'quasar';

const props = defineProps({
  admin: {
    type: [Boolean],
    default: false
  }
});

const emit = defineEmits(['success']),
  openForgetPasswordDialog = ref(false),
  auth = useAuthStore(),
  username = ref(''),
  password = ref(''),
  isPwd = ref(true),
  $q = useQuasar();

watch(
  () => auth.isLoggedIn,
  (value) => (value ? loginSuccess() : undefined)
);

function login() {
  try {
    auth.loginUser(username.value, password.value).catch((e) => {
      loginFail(e);
    });
  } catch (e) {
    loginFail(e);
  }
}

function loginSuccess() {
  $q.notify({
    message: 'Logged in successfully!',
    color: 'green',
    type: 'positive'
  });
  emit('success', 1);
}

function loginFail(data) {
  $q.notify({
    message: 'Login Failed. ' + data,
    color: 'red',
    type: 'negative'
  });
}
</script>
