<template>
  <div class="q-ml-lg">
    <q-btn-dropdown v-if="auth.isLoggedIn" flat no-caps>
      <template #label>
        <div class="row items-center no-wrap">
          <q-avatar>
            <q-icon name="person" />
          </q-avatar>
        </div>
      </template>
      <q-list>
        <q-item v-close-popup>
          <q-item-section>
            <q-item-label>
              {{ auth.user.firstname }}
              {{ auth.user.lastname }}
            </q-item-label>
            <q-item-label caption>{{ auth.user.email }}</q-item-label>
          </q-item-section>
        </q-item>

        <user-menu />

        <q-item v-close-popup clickable>
          <q-item-section>
            <q-btn class="bg-primary text-white" @click="logout">
              {{ $t('btn.logout') }}
            </q-btn>
          </q-item-section>
        </q-item>
      </q-list>
    </q-btn-dropdown>
    <q-btn
      v-else
      outline
      :label="$t('btn.login')"
      class="align-items-center"
      @click="showAuthDialog = true"
    />
    <AuthDialog :open="showAuthDialog" @hide="showAuthDialog = false" />
  </div>
</template>

<script setup lang="ts">
import UserMenu from 'components/UserMenu.vue';
import AuthDialog from 'components/auth/AuthDialog.vue';
import { ref } from 'vue';
import { useAuthStore } from 'stores/auth';

defineProps({
  open: {
    type: [Boolean],
    default: false
  },
  admin: {
    type: [Boolean],
    default: false
  }
});

const auth = useAuthStore();
const showAuthDialog = ref(false);

function logout() {
  auth.logout();
}
</script>
