<template>
  <q-tab-panel name="signup">
    <div class="text-h6">{{ $t('btn.register') }}</div>
    <q-card-section class="q-mb-md">
      <q-input
        v-model="username"
        class="q-pa-md"
        outlined
        :label="$t('label.username')"
        dense
      />
      <q-input
        v-model="email"
        class="q-pa-md"
        outlined
        :label="$t('btn.email')"
        dense
      />
      <q-input
        v-model="password"
        class="q-pa-md"
        :type="isPwd ? 'password' : 'text'"
        outlined
        :label="$t('label.password')"
        dense
      >
        <template #append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>
      <q-input
        v-model="password_repeat"
        class="q-pa-md"
        :type="isPwd ? 'password' : 'text'"
        outlined
        :label="$t('label.password_repeat')"
        dense
      >
        <template #append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>
    </q-card-section>
    <q-card-actions
      align="right"
      class="relative-position bg-grey-2 absolute-bottom text-primary"
    >
      <q-btn
        no-caps
        color="primary"
        :label="$t('btn.register')"
        :loading="isLoading"
        @click="register"
      />
    </q-card-actions>
  </q-tab-panel>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useAuthStore } from 'stores/auth';
import { useQuasar } from 'quasar';

defineProps({
  admin: {
    type: [Boolean],
    default: false
  }
});

const emit = defineEmits(['success']),
  auth = useAuthStore(),
  isLoading = ref(false),
  username = ref(''),
  email = ref(''),
  password = ref(''),
  password_repeat = ref(''),
  $q = useQuasar(),
  isPwd = ref(true);

function register() {
  isLoading.value = true;
  auth
    .registerUser({
      username: username.value,
      email: email.value,
      password: password.value
    })
    .then(() => {
      registerSuccess();
    })
    .catch((error) => {
      registerFail(error);
    })
    .finally(() => {
      isLoading.value = false;
    });
}

function registerSuccess() {
  $q.notify({
    message: 'Registered successfully! Please check your Mail.',
    color: 'green',
    type: 'positive'
  });
  emit('success', 1);
}

function registerFail(data) {
  $q.notify({
    message: 'Registration failed. ' + data.error.message,
    color: 'red',
    type: 'negative'
  });
}
</script>
