<template>
  <q-table
    ref="tableRef"
    v-model:pagination="pagination"
    :title="$t('menu.application_forms')"
    :rows="data"
    :rows-per-page-options="defaults.rowsPerPage"
    :columns="columns"
    :loading="isLoading"
    :filter="filter"
    binary-state-sort
    row-key="id"
    @request="onRequest"
  >
    <template #body="props">
      <q-tr>
        <q-td name="name"> {{ props.row.attributes.name }}</q-td>
        <q-td name="questions">
          {{ props.row.attributes.questions.data?.length }}
          <q-tooltip>
            <template #default>
              <pre>{{ props.row.attributes.questions }}</pre>
            </template>
          </q-tooltip>
        </q-td>
        <q-td name="locale">
          {{ props.row.attributes.locale }}
          <q-tooltip>
            <template #default>
              <pre>{{ props.row.attributes }}</pre>
            </template>
          </q-tooltip>
        </q-td>

        <q-td name="actions" align="right">
          <q-btn
            size="sm"
            flat
            dense
            icon="edit"
            :to="'form/' + props.row.id"
          />
          <q-btn size="sm" flat dense icon="content_copy"></q-btn>
          <q-btn size="sm" color="red" flat dense icon="delete"></q-btn>
        </q-td>
      </q-tr>
    </template>
    <template #top-right>
      <q-btn round icon="add" @click="openDialog" />
    </template>
  </q-table>
</template>

<script setup lang="ts">
import JobFormDialog from 'components/job/JobFormDialog.vue';
import { useQuasar } from 'quasar';
import { ref, onMounted, computed } from 'vue';
import { useFormStore } from 'stores/form';
import { defaults } from 'components/default.ts';
import { useI18n } from 'vue-i18n';

const f = useFormStore(),
  $q = useQuasar(),
  { t } = useI18n(),
  filter = ref(defaults.filterJobs),
  isLoading = computed(() => {
    return f.isLoading;
  }),
  data = computed(() => {
    return f.forms.result;
  }),
  pagination = computed({
    get() {
      return f.getPagination;
    },
    set(v) {
      console.log('What shall we do with the pagination?', v);
    }
  });

const columns = [
  {
    name: 'name',
    align: 'left',
    label: t('label.name'),
    sortable: true
  },
  {
    name: 'questions',
    align: 'left',
    label: t('label.questions'),
    sortable: true
  },
  {
    name: 'language',
    align: 'left',
    label: t('label.language'),
    sortable: true
  },
  {
    name: 'actions',
    align: 'right',
    label: t('label.actions'),
    sortable: true
  }
];

onMounted(() => {
  onRequest({ filter: '', pagination: { ...defaults.pagination } });
});

function onRequest(args) {
  f.fetchForms({ ...args }).then(() => {
    pagination.value = f.getPagination;
  });
}

function openDialog() {
  $q.dialog({
    component: JobFormDialog,
    componentProps: {
      job: {}
    }
  }).onOk(() => {
    f.fetchForms({ filter, pagination }).then(() => {
      pagination.value = f.getPagination;
    });
  });
}
</script>
